Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: proposer slashings on op pool
  crates/common/consensus/beacon/src/proposer_slashing.rs
  crates/common/consensus/misc/src/beacon_block_header.rs
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: validate propose slashings
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: renamed attester_slashings handlers
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: add post proposer slashings
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: setup lean DB
  Cargo.lock
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/fork_choice/src/store.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/blob_sidecar.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/committee.rs
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/duties.rs
  crates/rpc/beacon/src/handlers/header.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/lib.rs
  crates/storage/Cargo.toml
  crates/storage/src/beacon/db.rs
  crates/storage/src/beacon/mod.rs
  crates/storage/src/lean/db.rs
  crates/storage/src/lean/mod.rs
  crates/storage/src/lib.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/mod.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: refactor db
  bin/ream/src/main.rs
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/fork_choice/src/store.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/blob_sidecar.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/committee.rs
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/duties.rs
  crates/rpc/beacon/src/handlers/header.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/lib.rs
  crates/storage/src/beacon/db.rs
  crates/storage/src/beacon/mod.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/lean/db.rs
  crates/storage/src/lean/mod.rs
  crates/storage/src/lib.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/slot_index.rs
  crates/storage/src/tables/lean/state_root_index.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: apply suggestions
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: add post sync committee selections API
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/beacon/src/sync_committe_selection.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove LeanChain default
  Cargo.lock
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/cli/ream.md
  book/cli/ream/beacon_node.md
  book/cli/ream/lean_node.md
  crates/common/chain/lean/src/lean_chain.rs
  crates/networking/manager/src/config.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/mod.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: lint
  crates/storage/src/db/mod.rs
Owners: @KolbyML

feat: add sync committee con and proof validation
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

fix: cleanup
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/safe_target.rs
  crates/storage/src/tables/lean/vote.rs
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

chore: add SyncCommiteeContribution to cache
  crates/storage/src/cache.rs
Owners: @KolbyML

chore: p2p validatons for the contributions and proof message
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

chore: seperated validation funcs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

chore: pr linting fixes
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

refactor: move vote processing into LeanState::process_attestations
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: cleaner set of latest_justified and latest_finalized
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: reorder propose_block logic
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: avoid fractions in 2/3 votes
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: move process_block into State::state_transition
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: return early instead of expect
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add unimplemented leanspecs changes
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: add unsupported assertions
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: auto justify genesis block
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: enable LeanState::process_slots impl
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: align consensus structure with leanspecs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  devnet/.node_pids
  devnet/devnet-spec.yaml
  devnet/logs/node0.log
  devnet/logs/node1.log
  devnet/logs/node2.log
  devnet/logs/node3.log
  devnet/node0/keystore0.json
  devnet/node0/registry.yaml
  devnet/node1/keystore1.json
  devnet/node1/registry.yaml
  devnet/node2/keystore2.json
  devnet/node2/registry.yaml
  devnet/node3/keystore3.json
  devnet/node3/registry.yaml
  start_devnet.sh
  stop_devnet.sh
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add feasible assertions to process_block_header
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make clippy happy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make clippy happy
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: logging vote validations
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add more leanspecs impl
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: validate block parent against state's latest block header
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use anyhow::ensure instead of assert
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: start block building from slot 1 instead of 2
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/misc/src/constants/lean.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: consistent logging for processing block vs vote
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: avoid cloning a block
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: fix slot slippage causing consensus bug
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
Owners: @KolbyML

fix: reconstruct justifications map instead of shifting
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: log block processing for consensus debug
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML
