Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic jist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                               @KolbyML @syjn99
crates/common/consensus/        @KolbyML @Kayden-ML @syjn99 @varun-doshi
crates/common/execution_engine/ @KolbyML @Kayden-ML @syjn99
crates/crypto/                  @KolbyML @syjn99
crates/rpc/                     @KolbyML @varun-doshi
crates/testing/                 @KolbyML @Kayden-ML @syjn99

feat: add struct to support block rewards API responses
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @varun-doshi

refactor: remove BlockRewardsResponse and Move BlockRewardsData to block.rs
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @varun-doshi

refactor: remove is_finalized check
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

address github comments
  Cargo.lock
  crates/common/node/Cargo.toml
  crates/common/node/src/peer.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/peer_count.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: use lib2pbp PeerId for Peer struct
  Cargo.lock
  crates/common/node/Cargo.toml
  crates/common/node/src/peer.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML, @syjn99

refactor:changes types of fields to u64
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: ensure u64 fields in BlockRewards are serialized as strings using quoted_u64
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: lint error
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: ensure i64 fields in BlockRewards are serialized as strings using quoted_i64
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

chore: replace placeholder with TODO for reward calculation
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi
