Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: atleast assertion
  bin/ream/src/main.rs
Owners: @KolbyML

chore: bump LeanVM and LeanSig to to the finalized version
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

fix: try running test sequentially
  Makefile
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

chore: bump LeanVM and LeanSig to to the finalized version (#1161)
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

fix
  Makefile
  bin/ream/src/main.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: devnet 2 finalization errors (#1162)
  Makefile
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML

ci: make docker ci upload builds for devnet1/devnet2
  Makefile
Owners: @KolbyML

ci: make docker ci upload builds for devnet1/devnet2 (#1168)
  Makefile
Owners: @KolbyML

feat: match AggregateSignatureProof to spec using proof bytes
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: cleanup
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: cleanup
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
Owners: @KolbyML, @syjn99

fix: truncate block printing when send fails
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: inline
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: align AggregatedSignatureProof with spec with proof_data ByteList (#1169)
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: don't use zero hash in justification roots
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: consider is_complete edgecase in replace_job_with_next_job syncer
  crates/common/chain/lean/src/sync/mod.rs
Owners: @KolbyML

fix: consider is_complete edgecase in replace_job_with_next_job syncer (#1171)
  crates/common/chain/lean/src/sync/mod.rs
Owners: @KolbyML

update test to match latest test
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: run spec tests versioned
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

refactor: don't use zero hash in justification roots (#1170)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: version lean spec tests to run for devnet1 and devnet2 (#1172)
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: syncing by only updating sync_status on tick 0
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: syncing by only updating sync_status on tick 0 (#1173)
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: try parallel ci
  Makefile
Owners: @KolbyML

Update main.rs
  bin/ream/src/main.rs
Owners: @KolbyML

try 70
  bin/ream/src/main.rs
Owners: @KolbyML

ci: run devnet2 ci tests in parallel (#1175)
  Makefile
  bin/ream/src/main.rs
Owners: @KolbyML

feat: update leanmultisig commit to latest pin
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

chore: update leanmultisig commit to latest pin, for panic fix (#1177)
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

feat: Bump leansig and lean multisig to finalized version
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

feat: Bump leansig and lean multisig to finalized version (#1179)
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

fix: move ssz to bytes conversion out of verification time
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: use as_ssz_bytes from lean_multisig instead of wrapper type
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: cleanup
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: use as_ssz_bytes from lean_multisig (#1180)
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: justified_slots needs to be subtracted with delta to match spec
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: justified_slots needs to be subtracted with delta to match spec (#1181)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: default state response to ssz
  crates/common/api_types/common/src/content_type.rs
Owners: @KolbyML

fix: not found message
  crates/common/api_types/common/src/error.rs
Owners: @KolbyML

fix: match spec
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi
