Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: apply suggestions
  crates/common/builder/src/bid.rs
  crates/common/builder/src/blinded_beacon_block.rs
  crates/common/builder/src/builder_api/header.rs
  crates/common/builder/src/builder_api/mod.rs
  crates/common/builder/src/builder_bid.rs
  crates/common/builder/src/builder_client.rs
  crates/common/builder/src/lib.rs
  crates/common/builder/src/registration.rs
  crates/common/builder/src/validator_registration.rs
  crates/common/builder/src/verify.rs
  crates/common/consensus/src/constants.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use only validator specs of external building
  crates/common/builder/src/bid.rs
  crates/common/builder/src/builder_bid.rs
  crates/common/builder/src/builder_client.rs
  crates/common/builder/src/lib.rs
  crates/common/builder/src/registration.rs
  crates/common/builder/src/validator_registration.rs
  crates/common/builder/src/verify.rs
Owners: @KolbyML

feat: implement builder specs
  Cargo.lock
  Cargo.toml
  crates/common/builder/Cargo.toml
  crates/common/builder/src/bid.rs
  crates/common/builder/src/blinded_beacon_block.rs
  crates/common/builder/src/blobs.rs
  crates/common/builder/src/builder_bid.rs
  crates/common/builder/src/lib.rs
  crates/common/builder/src/registration.rs
  crates/common/builder/src/validator_registration.rs
  crates/common/builder/src/verify.rs
  crates/common/consensus/src/constants.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: add call to builder api
  Cargo.lock
  bin/ream/src/cli/validator_node.rs
  book/cli/ream/validator_node.md
  crates/common/builder/Cargo.toml
  crates/common/builder/src/bid.rs
  crates/common/builder/src/builder_api/header.rs
  crates/common/builder/src/builder_api/mod.rs
  crates/common/builder/src/builder_bid.rs
  crates/common/builder/src/lib.rs
Owners: @KolbyML

fix: use builder as mod in validator crate
  Cargo.lock
  Cargo.toml
  bin/ream/src/cli/validator_node.rs
  crates/common/builder/Cargo.toml
  crates/common/validator/Cargo.toml
  crates/common/validator/src/builder/bid.rs
  crates/common/validator/src/builder/blobs.rs
  crates/common/validator/src/builder/builder_bid.rs
  crates/common/validator/src/builder/builder_client.rs
  crates/common/validator/src/builder/mod.rs
  crates/common/validator/src/builder/validator_registration.rs
  crates/common/validator/src/builder/verify.rs
  crates/common/validator/src/lib.rs
Owners: @KolbyML

feat: added submit_sync_committees
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added the method for sync committees for non-aggregators
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: applied Kolby's suggestions
  crates/common/validator/src/sync_committee.rs
Owners: @KolbyML

fix: changed it to slice
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added processing for all sync duties
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: changed to as_ref
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: nits
  crates/common/validator/src/builder/bid.rs
  crates/common/validator/src/builder/builder_client.rs
  crates/common/validator/src/builder/validator_registration.rs
  crates/common/validator/src/builder/verify.rs
Owners: @KolbyML

feat: updated the code to instead use intervals.
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: fixed up the PR, including things regarding timings
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: rebased the branch
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: changed it so aggregator processes run every 2nd interval
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: apply review for apis
  crates/common/validator/src/builder/builder_client.rs
Owners: @KolbyML

fix: remove unnecessary clones code duplication, default to Json
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

fix: address code review feedback and resolve CI issues
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

refactor: move HTTP content-type constants to centralized location
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

feat: implement /eth/v1/validator/sync_committee_subscriptions endpoint with tests
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

WIP: Updates to discv5 and RPC handler for validator sync committee
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: update p2p networking and rpc crates for eth v1 validator sync committee subscriptions
  Cargo.lock
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
Owners: @KolbyML, @varun-doshi

chore: chore: resolve merge conflicts and fix missing HashSet import
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: address PR review feedback
  crates/common/beacon_api_types/src/request.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: rebase factor fix
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

Addressed review comments
  Cargo.lock
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: use create_dir_all instead of create_dir
  crates/storage/src/db.rs
Owners: @KolbyML

chore: address review issues
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: address review comment
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: fixed beacon node initialization from panicking
  bin/ream/src/main.rs
  crates/rpc/src/handlers/syncing.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore service.rs review
  crates/networking/manager/src/service.rs
Owners: @KolbyML

chore: address review on request.rs
  crates/common/beacon_api_types/src/request.rs
Owners: @KolbyML

chore address service.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML

chore: address enr review comment
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: gossipsub validate and forward: attester_slashing
  Cargo.lock
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML, @Kayden-ML

fix: address code review feedback and resolve CI issues
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: remove unnecessary clones code duplication, default to Json
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
