Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: use enum for checkpoint verification
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/common/consensus/src/checkpoint.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

feat: added an event handler for the validator
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  crates/common/validator/Cargo.toml
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: added event stream
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  crates/common/validator/Cargo.toml
  crates/common/validator/src/beacon_api_client/event.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  bin/ream/src/main.rs
  crates/common/validator/src/beacon_api_client/event.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added all the other beacon event types
  Cargo.lock
  crates/common/validator/src/beacon_api_client/event.rs
Owners: @KolbyML

fix: removed unused dependency
  Cargo.lock
  crates/common/validator/Cargo.toml
Owners: @KolbyML

fix: max validator count constant
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: added more events for the event stream logic
  crates/common/validator/src/beacon_api_client/event.rs
Owners: @KolbyML

fix: changed get_events_stream to use the new EventTopic
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

wrote tests for beacon-api scheme
  testing/testdata/beacon.rs
  testing/utils/check_against_specs.rs
  testing/utils/fetching.rs
  testing/utils/parsing.rs
  testing/utils/test_case.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

chore: formatting
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: make requested changes
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/validator/src/validator.rs
  crates/rpc/src/handlers/duties.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: optmize balance fetch
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: use custom vec type
  Cargo.lock
  Cargo.toml
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

feat: added initial struct for keystores
  Cargo.lock
  Cargo.toml
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

feat: added keystore serialization and deserialization
  Cargo.lock
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/assets/TestKeystore.json
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

fix: ran make pr
  crates/crypto/keystore/src/encrypted_keystore.rs
Owners: @KolbyML, @syjn99

fix: added newline
  crates/crypto/keystore/assets/TestKeystore.json
Owners: @KolbyML, @syjn99

chore: refactor code
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: build and fmt errors
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: applied suggestions
  crates/crypto/keystore/src/encrypted_keystore.rs
Owners: @KolbyML, @syjn99

fix: moved the implementation up
  crates/crypto/keystore/src/encrypted_keystore.rs
Owners: @KolbyML, @syjn99

fix: moved hex_serde into a new file
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/hex_serde.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

fix: added newline
  crates/crypto/keystore/src/encrypted_keystore.rs
Owners: @KolbyML, @syjn99

feat: Implement engine api eth_getLogs
  Cargo.lock
  crates/common/execution_engine/Cargo.toml
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement engine api eth_chainId
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: hmac for pbkdf2
  Cargo.lock
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/hmac.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

fix: applied suggestions
  crates/crypto/keystore/src/hmac.rs
Owners: @KolbyML, @syjn99

feat: add pbkdf2 for keystores
  crates/crypto/keystore/assets/Pbkdf2TestKeystore.json
  crates/crypto/keystore/assets/ScryptKeystore.json
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/lib.rs
  crates/crypto/keystore/src/pbkdf2.rs
Owners: @KolbyML, @syjn99

feat: implement get_attester_duties in the beacon node
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/validator/src/validator.rs
  crates/rpc/src/handlers/duties.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add route to get_attester_duties
  crates/rpc/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

fix: typo in endpoint
  crates/rpc/src/handlers/duties.rs
Owners: @KolbyML, @varun-doshi

fix: add context to errors
  crates/rpc/src/handlers/duties.rs
Owners: @KolbyML, @varun-doshi

feat: handle ReqResp P2P messages in NetworkManager
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/config.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/peer.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/messages/beacon_blocks.rs
  crates/networking/p2p/src/req_resp/messages/blob_sidecars.rs
  crates/networking/p2p/src/req_resp/messages/mod.rs
  crates/networking/p2p/src/req_resp/messages/ping.rs
  crates/networking/p2p/src/req_resp/messages/status.rs
  crates/networking/p2p/src/req_resp/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/utils.rs
  crates/networking/syncer/src/block_range/mod.rs
  crates/rpc/src/handlers/peers.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: updated variable names
  crates/crypto/keystore/src/pbkdf2.rs
Owners: @KolbyML, @syjn99

feat: Implement engine api eth_call
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: shortened json
  crates/crypto/keystore/assets/Pbkdf2TestKeystore.json
Owners: @KolbyML, @syjn99

fix: changed dk_len
  crates/crypto/keystore/src/pbkdf2.rs
Owners: @KolbyML, @syjn99

fix: fixed optional
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: another variable name update
  crates/crypto/keystore/src/pbkdf2.rs
Owners: @KolbyML, @syjn99
