Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

Update crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: lean state rpc
  Cargo.lock
  crates/common/chain/lean/src/lean_chain.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

fix: function naming
  crates/common/chain/lean/src/lean_chain.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

refactor(rpc)
  Cargo.lock
  crates/rpc/beacon/src/lib.rs
  crates/rpc/common/Cargo.toml
  crates/rpc/common/src/lib.rs
  crates/rpc/common/src/server.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

fmt
  crates/rpc/beacon/src/lib.rs
  crates/rpc/common/src/server.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: integrate DB into Lean Chain
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: replace in memory states with db
  Cargo.lock
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/storage/src/tables/lean/lean_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: replace in memory known votes with db
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/known_votes.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/new_votes.rs
  crates/storage/src/tables/lean/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: minor changes
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/known_votes.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/new_votes.rs
Owners: @KolbyML, @Kayden-ML

feat: add cargo features to hashsig to select signature scheme
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/mod.rs
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

fix: apply suggestions
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use descriptive type names
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

fix: another type name
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

feat: dont allow dialing own peer id
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fix: descriptive param names
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

fix: empty line after doc comment
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

fix: readablility
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

fix: raw parsing to try_from
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

fix: justifications_validators should vary with number of roots
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make linter happy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: integrate DB into Lean Chain
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: replace in memory states with db
  Cargo.lock
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/storage/src/tables/lean/lean_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: replace in memory known votes with db
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/known_votes.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/new_votes.rs
  crates/storage/src/tables/lean/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: apply suggestions
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: minor changes
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/known_votes.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/new_votes.rs
Owners: @KolbyML, @Kayden-ML

fix: finalization lag
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: cosmetic cleanup
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
  crates/rpc/lean/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: apply suggestions
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/storage/src/tables/lean/known_votes.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/mod.rs
  crates/storage/src/tables/lean/new_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use anyhow context with proper formatting
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: linting
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

debug: add sp1 toolchain info
  .github/workflows/riscv.yml
Owners: @KolbyML

debug rust version
  .github/workflows/riscv.yml
Owners: @KolbyML

add debug-sp1 branch to build
  .github/workflows/riscv.yml
Owners: @KolbyML

try install rust 1.89 toolchain
  .github/workflows/riscv.yml
Owners: @KolbyML

try SP1 docs
  .github/workflows/riscv.yml
Owners: @KolbyML

try 1.85.0
  .github/workflows/riscv.yml
Owners: @KolbyML

try 1.88.0
  .github/workflows/riscv.yml
Owners: @KolbyML

debug rustc target
  .github/workflows/riscv.yml
Owners: @KolbyML

debug rustup override
  .github/workflows/riscv.yml
Owners: @KolbyML

remove override and default
  .github/workflows/riscv.yml
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
