Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: update attestation nomenclature
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: typo
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove Vote from lean codebase
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/latest_known_attestation.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: rename gossip topic to Attestation
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/gossipsub/lean/topics.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: AggregatedAttestation -> AggregatedAttestations
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: minor nits
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: use state validators and rm in config
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/validator/lean/src/validator.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: apply review
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use From trait
  crates/common/consensus/lean/src/validator.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: use state validators and rm in config (#873)
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/validator/lean/src/validator.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: ValidatorAttestation and Attestation
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use new containers in the codebase
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fmt
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: doc comments
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: update attestation nomenclature
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove Vote from lean codebase
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/latest_known_attestation.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: typo
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: rename gossip topic to Attestation
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/gossipsub/lean/topics.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: AggregatedAttestation -> AggregatedAttestations
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: minor nits
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: doc comments
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make clippy happy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Update containers for Vote and Attestation (#855)
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/gossipsub/lean/topics.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/latest_known_attestation.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: decouple `ValidatorService` with `LeanChain`
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

refactor: decouple `ValidatorService` with `LeanChain` (#874)
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

feat: Add functionality for storing/recovering hash-sig Keypair for Devnet-1
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/cli/generate_keystores.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/keystore/src/lib.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @syjn99

fix: hash sig tests should use the testing scheme
  crates/crypto/post_quantum/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

fix: order
  crates/crypto/post_quantum/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

fix: udeps
  Cargo.lock
  crates/crypto/keystore/Cargo.toml
Owners: @KolbyML, @syjn99

feat: Add functionality for storing/recovering hash-sig Keypair for D… (#875)
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/cli/generate_keystores.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/keystore/src/lib.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @syjn99

fix: hash sig tests should use the testing signature scheme (#876)
  crates/crypto/post_quantum/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

feat(pool): add attestation storage and retrieval methods
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

feat(pool): add method to retrieve all attestations from pool
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

feat(rpc): add endpoints for attestations
  Cargo.lock
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: update book for `generate_keystore`
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_keystore.md
Owners: @KolbyML

chore: update book for `generate_keystore` (#879)
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_keystore.md
Owners: @KolbyML

feat(devnet1): update containers for block
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: apply review
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: improve readability
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/fork_choice/src/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

fix: nits
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
