Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: fixed fmt error
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

feat: implement light client finality update endpoint
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

refactor: move HTTP content-type constants to centralized location
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

feat: implement sync committee rewards endpoint
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: implement hashset for sync committee
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: refactor to reuse beacon state fn
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

chore: add sync committee indices fn in beacon state
  crates/common/consensus/src/electra/beacon_state.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: refactor beacon state code to reuse functions
  crates/common/consensus/src/electra/beacon_state.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: response type
  crates/common/consensus/src/electra/beacon_state.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: resolve conflicts
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: refactor balance change calculation
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: resolve conflict and rebase
  crates/common/consensus/src/electra/beacon_state.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fixing ef tests update
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: add doc comments for p2p code
  bin/ream/src/main.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename ManagerService to NetworkManagerService
  bin/ream/src/main.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: move req_resp and gossipsub behaviors into its own modules
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/lib.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML

refactor: rename ream-manager to ream-network-manager
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  crates/networking/manager/Cargo.toml
Owners: @KolbyML

docs: add p2p book page
  book/SUMMARY.md
  book/developer/README.md
  book/developer/p2p/README.md
Owners: @KolbyML

fix: applied suggestions
  crates/common/validator/src/validator.rs
Owners: @KolbyML

chore: cargo fmt
  bin/ream/src/main.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: skip mdbook test on ascii diagram
  book/developer/p2p/README.md
Owners: @KolbyML

fix: cargo sort
  Cargo.toml
Owners: @KolbyML

fix: fixed up the indentation
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: formatting fix
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: changed from key_store to keystore
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat(discv5): Implement attestation subnet subscription
  Cargo.lock
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/cli/constants.rs
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/config.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

test(discv5): Add tests for attestation subnet subscription
  bin/ream/src/cli/beacon_node.rs
  crates/networking/discv5/src/subnet.rs
Owners: @KolbyML

fix: unabbreviate err
  crates/common/validator/src/voluntary_exit.rs
Owners: @KolbyML

feat: implement submit_voluntary_exit in the validator
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/validator.rs
  crates/common/validator/src/voluntary_exit.rs
Owners: @KolbyML

fix: no need to clone private key
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: forward and validate beacon block
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/gossipsub/error.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/gossipsub/validation.rs
  crates/networking/p2p/src/network.rs
  crates/storage/src/db.rs
Owners: @KolbyML

fix: address review comments
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/cli/constants.rs
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/config.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: pipeline failure
  crates/networking/discv5/Cargo.toml
Owners: @KolbyML

fix: code imports
  crates/networking/discv5/src/discovery.rs
Owners: @KolbyML

feat: Implemented verify_blob_sidecar_inclusion_proof helper function
  crates/common/consensus/src/blob_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: phase0 beacon block validation
  Cargo.lock
  crates/common/beacon_chain/Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/gossipsub/validation.rs
  crates/storage/src/db.rs
Owners: @KolbyML, @Kayden-ML

chore: apply beacon block validations
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML, @Kayden-ML

feat: /eth/v1/beacon/pool/bls_to_execution_changes
  Cargo.lock
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/fork_choice/src/store.rs
  crates/common/operation_pool/Cargo.toml
  crates/common/operation_pool/src/lib.rs
  crates/rpc/src/handlers/pool.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: apply suggestions
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/lib.rs
  crates/networking/manager/src/validate.rs
Owners: @KolbyML, @Kayden-ML

feat: add endpoint for blinded block
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi
