Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix clippy
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

clippy
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: initialize lean multisig
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/errors.rs
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lib.rs
Owners: @KolbyML, @syjn99

refactor: fixed a few small nits
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: fixed a few small nits (#1029)
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: Add signing and verification metrics
  crates/common/consensus/lean/src/block.rs
  crates/common/metrics/src/lib.rs
  crates/common/validator/lean/src/service.rs
  metrics/grafana/dashboards/leanMetrics.json
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cleanup
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
Owners: @KolbyML, @syjn99

fix: use rev not branch
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

resolve concerns
  crates/common/validator/lean/src/service.rs
  metrics/grafana/dashboards/leanMetrics.json
Owners: @KolbyML

feat: Add signing and verification metrics (#1031)
  crates/common/consensus/lean/src/block.rs
  crates/common/metrics/src/lib.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: initialize lean multisig (#1028)
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/errors.rs
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lib.rs
Owners: @KolbyML, @syjn99

feat: implement validator/beacon_committee_subscriptions (#1026)
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

gossipsub_tests
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/p2p/src/gossipsub/beacon/configurations.rs
  crates/networking/p2p/src/gossipsub/configurations.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

checks
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

rebase-checks
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: remove repetitive db calls
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: fix Patch ethereum_hashing not used in the crate graph
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

test: Add gossipsub tests according to leanspec (#1042)
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/p2p/src/gossipsub/beacon/configurations.rs
  crates/networking/p2p/src/gossipsub/configurations.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

fix: fix Patch ethereum_hashing not used in the crate graph and updates reams rust version (#1044)
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

fork choice time tests
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

checks
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

review update
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

test: Add fork choice time tests according to leanspec (#1045)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: if service panics stop the node + clean up interval panic log
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

feat: if service panics stop the node + clean up interval panic log (#1050)
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

feat: Integrate the signing functionality from lean-multisig
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lean_multisig/signature.rs
Owners: @KolbyML, @syjn99

feat: Integrate the signing functionality from lean-multisig (#1051)
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lean_multisig/signature.rs
Owners: @KolbyML, @syjn99

ci: disable from zkVM CI
  .github/workflows/riscv.yml
Owners: @KolbyML

ci: disable zkVM CI (#1052)
  .github/workflows/riscv.yml
Owners: @KolbyML

chore: fmt
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/events/beacon/src/lib.rs
Owners: @KolbyML

feat: partially implements beacon chain events endpoint
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/Cargo.toml
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/consensus/beacon/src/contribution_and_proof.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/common/events/beacon/Cargo.toml
  crates/common/events/beacon/src/lib.rs
  crates/common/validator/beacon/src/beacon_api_client/event.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/common/validator/beacon/src/sync_committee.rs
  crates/common/validator/beacon/src/validator.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/events.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/beacon.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: splits events/lib.rs into multiple files
  crates/common/events/beacon/src/attestation.rs
  crates/common/events/beacon/src/blob.rs
  crates/common/events/beacon/src/chain.rs
  crates/common/events/beacon/src/execution.rs
  crates/common/events/beacon/src/lib.rs
  crates/common/events/beacon/src/light_client.rs
  crates/common/events/beacon/src/slashing.rs
  crates/common/events/beacon/src/sync_committee.rs
  crates/common/events/beacon/src/validator.rs
Owners: @KolbyML

chore: remove eventsource feature
  Cargo.lock
  crates/common/api_types/beacon/Cargo.toml
  crates/common/events/beacon/Cargo.toml
  crates/common/events/beacon/src/lib.rs
  crates/common/validator/beacon/Cargo.toml
Owners: @KolbyML

moved block event build fn to events crate
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/events/beacon/src/lib.rs
Owners: @KolbyML

chore: moves contribution_and_proof to events crate
  Cargo.lock
  crates/common/consensus/beacon/src/lib.rs
  crates/common/events/beacon/Cargo.toml
  crates/common/events/beacon/src/contribution_and_proof.rs
  crates/common/events/beacon/src/lib.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/common/validator/beacon/src/sync_committee.rs
  crates/common/validator/beacon/src/validator.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/beacon/message.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: moved events to event folder + imports format
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/events/beacon/src/event/attestation.rs
  crates/common/events/beacon/src/event/blob.rs
  crates/common/events/beacon/src/event/chain.rs
  crates/common/events/beacon/src/event/execution.rs
  crates/common/events/beacon/src/event/light_client.rs
  crates/common/events/beacon/src/event/mod.rs
  crates/common/events/beacon/src/event/slashing.rs
  crates/common/events/beacon/src/event/sync_committee.rs
  crates/common/events/beacon/src/event/validator.rs
  crates/common/events/beacon/src/lib.rs
Owners: @KolbyML

chore: flatten get_events loop
  crates/rpc/beacon/src/handlers/events.rs
Owners: @KolbyML, @varun-doshi

feat: implements /eth/v1/validator/register_validator
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  book/cli/ream/beacon_node.md
  crates/common/validator/beacon/src/builder/builder_client.rs
  crates/common/validator/beacon/src/builder/validator_registration.rs
  crates/networking/manager/src/config.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
Owners: @KolbyML, @varun-doshi

chore: refactor
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  book/cli/ream/beacon_node.md
  crates/networking/manager/src/config.rs
Owners: @KolbyML

chore: fix var names
  crates/common/events/beacon/src/lib.rs
  crates/rpc/beacon/src/handlers/events.rs
Owners: @KolbyML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
