Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: moved some code and removed changed try_into into copy from slice
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/lib.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: fixed up scrypt_romix
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: updated salsa
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/salsa.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: removed an expect
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: changed anyhow message
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: ran make pr
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

feat: add keystore decryption
  Cargo.lock
  Cargo.toml
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

fix: ran make pr
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lib.rs
Owners: @KolbyML, @syjn99

feat: connect get_attester_duties to the validator
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: failing to create status reply on non-fully synced db
  crates/networking/manager/src/service.rs
Owners: @KolbyML

fix: made variable names more descriptive
  crates/crypto/keystore/src/decrypt.rs
Owners: @KolbyML, @syjn99

fix: applied suggestions
  crates/crypto/keystore/src/keystore.rs
Owners: @KolbyML, @syjn99

fix: ran make pr
  crates/crypto/keystore/src/keystore.rs
Owners: @KolbyML, @syjn99

feat: implement get_config_spec in the validator
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: implement get_sync_committee_duties
  crates/common/beacon_api_types/src/duties.rs
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: add get_genesis
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove unused import
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: added LightClientUpdate struct and new method
  crates/common/consensus/src/constants.rs
  crates/common/consensus/src/misc.rs
  crates/common/light_client/src/lib.rs
  crates/common/light_client/src/update.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: added a new slot and epoch clock.
  Cargo.lock
  crates/common/validator/Cargo.toml
  crates/common/validator/src/lib.rs
  crates/common/validator/src/ticker.rs
Owners: @KolbyML

Fix: Address comments and fixed deprecated functions
  crates/networking/p2p/src/network.rs
  crates/storage/src/dir.rs
Owners: @KolbyML

Fix: addressed review comments
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: implement get_state_fork and get_state_validator in the validator
  Cargo.lock
  crates/common/beacon_api_types/Cargo.toml
  crates/common/beacon_api_types/src/lib.rs
  crates/common/beacon_api_types/src/validator.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: bring back sync_committee_duty
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: bring back get_config_spec and get_genesis
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: switched over to intervals and simplified code
  crates/common/validator/src/ticker.rs
Owners: @KolbyML

feat: connected POST /eth/v1/beacon/states/{state_id}/validators
  crates/common/beacon_api_types/src/validator.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/beacon_api_client/validator_query.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: forgot to run make pr
  crates/common/beacon_api_types/src/query.rs
  crates/common/beacon_api_types/src/request.rs
  crates/common/beacon_api_types/src/validator.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/beacon_api_client/validator_query.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: Connect p2p gossip messages to network manager and add respective on_*
  Cargo.lock
  crates/common/beacon_chain/Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML, @Kayden-ML

feat: added validator service and import-keystores for cli
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/assets/keystore_dir/Pbkdf2TestKeystore.json
  bin/ream/assets/keystore_dir/ScryptDecryptionTest.json
  bin/ream/src/cli/import_keystores.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/cli/validator_node.rs
  bin/ream/src/main.rs
  book/cli/ream/validator_node.md
  crates/common/validator/Cargo.toml
  crates/common/validator/src/lib.rs
  crates/common/validator/src/validator.rs
  crates/common/validator/src/validator_statuses.rs
  crates/crypto/keystore/Cargo.toml
Owners: @KolbyML, @syjn99

fix: removed unused dependency
  Cargo.lock
  crates/common/validator/Cargo.toml
Owners: @KolbyML

feat: moved the slot clock to this pr and initialized it
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/assets/test_password.txt
  bin/ream/src/cli/import_keystores.rs
  bin/ream/src/main.rs
  crates/common/validator/Cargo.toml
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: make pr ran
  bin/ream/src/cli/validator_node.rs
  book/cli/ream/validator_node.md
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: applied the suggestions
  bin/ream/src/cli/import_keystores.rs
  bin/ream/src/cli/validator_node.rs
  bin/ream/src/main.rs
  book/cli/ream/validator_node.md
  crates/common/validator/src/validator.rs
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: rebased
  crates/common/validator/src/lib.rs
  crates/common/validator/src/validator.rs
  crates/common/validator/src/validator_statuses.rs
Owners: @KolbyML

fix: removed reference
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: connect get_attestation_data and submit_attestation
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: operation pool, pooled voluntary exits
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/store.rs
  crates/common/operation_pool/Cargo.toml
  crates/common/operation_pool/src/lib.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/pool.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo-sort
  crates/common/fork_choice/Cargo.toml
Owners: @KolbyML, @Kayden-ML

feat: implement prepare_committe_subnet
  crates/common/beacon_api_types/src/committee.rs
  crates/common/beacon_api_types/src/lib.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: add publish_aggregate_and_proofs
  crates/common/validator/src/aggregate_and_proof.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML
