Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: update max slots from 4096 to 262144
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: change Weak<RefCell<>> to Arc<Mutex<>>
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove proposer_index from block
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: better vector filters
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

refactor: usize to u64
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make pr suggestions
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: change todo from adding TreeHash to splitting the Staker and service
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Use range any instead of for loop
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: unwrap to expect
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: quick fixes to get build passes first
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Vote and SignedVote
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Rename Vote and VoteData
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: ream_lean_chain to ream_chain_lean
  Cargo.toml
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/staker.rs
Owners: @KolbyML

fix: proper justifications handling
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: use anyhow
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/staker.rs
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: make pr
  crates/common/chain/lean/src/staker.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: deps sort
  crates/common/chain/lean/Cargo.toml
Owners: @KolbyML

chore: better error messages
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: LeanState::new() return the instance directly
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: return early for initialize_justifications...
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: anyhow consistency
  crates/common/chain/lean/src/staker.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Import anyhow instead of adding it everytime its used
  crates/common/chain/lean/src/staker.rs
Owners: @KolbyML

feat: initialize lean libp2p
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/network/misc.rs
  crates/networking/p2p/src/network/mod.rs
Owners: @KolbyML

feat: implement initial gossipsub p2p code with block and vote
  Cargo.lock
  bin/ream/src/main.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/config.rs
  crates/networking/p2p/src/gossipsub/beacon/configurations.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/networking/p2p/src/gossipsub/beacon/mod.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/gossipsub/lean/mod.rs
  crates/networking/p2p/src/gossipsub/lean/topics.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: calls correct network spec function and imports correct structs
  bin/ream/src/main.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: calls correct network spec function and imports correct structs
  bin/ream/src/main.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: import
  crates/common/chain/lean/src/clock.rs
Owners: @KolbyML

fix: unhide error
  crates/common/chain/lean/src/clock.rs
Owners: @KolbyML

fix: imports
  crates/common/chain/lean/src/clock.rs
Owners: @KolbyML

fix: handle err
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

chore: refactor redundant interval creation
  crates/common/chain/lean/src/clock.rs
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: pass up the err
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: inline requested
  crates/common/chain/lean/src/clock.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: cleanup
  crates/common/chain/lean/src/clock.rs
Owners: @KolbyML

fix: inline
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: format
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

feat: initialize lean rpc
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/beacon/src/block.rs
  crates/common/api_types/beacon/src/committee.rs
  crates/common/api_types/beacon/src/duties.rs
  crates/common/api_types/beacon/src/error.rs
  crates/common/api_types/beacon/src/id.rs
  crates/common/api_types/beacon/src/lib.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/api_types/beacon/src/request.rs
  crates/common/api_types/beacon/src/responses.rs
  crates/common/api_types/beacon/src/sync.rs
  crates/common/api_types/beacon/src/validator.rs
  crates/common/api_types/lean/Cargo.toml
  crates/common/api_types/lean/src/head.rs
  crates/common/api_types/lean/src/lib.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/config.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/lib.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/rpc/lean/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

fix: apply suggestions
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/lean/Cargo.toml
  crates/common/validator/beacon/Cargo.toml
  crates/common/validator/beacon/src/beacon_api_client/http_client.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/builder/builder_client.rs
  crates/common/validator/beacon/src/validator.rs
  crates/common/validator/beacon/src/voluntary_exit.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/blob_sidecar.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/committee.rs
  crates/rpc/beacon/src/handlers/config.rs
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/duties.rs
  crates/rpc/beacon/src/handlers/header.rs
  crates/rpc/beacon/src/handlers/identity.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/handlers/version.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/head.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/serialization.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: remove StopHandle
  crates/rpc/beacon/src/lib.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

perf: bump ethereum_hashing to c14a9ad96436e6b8b631faf49a3666e4558b71ae
  Cargo.lock
  Cargo.toml
Owners: @KolbyML
