Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: Update ef tests to fulu
  testing/beacon-api/tests/serialization.rs
  testing/ef-tests/Makefile
  testing/ef-tests/src/macros/epoch_processing.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/ef-tests/src/macros/merkle_proof.rs
  testing/ef-tests/src/macros/operations.rs
  testing/ef-tests/src/macros/rewards.rs
  testing/ef-tests/src/macros/sanity_blocks.rs
  testing/ef-tests/src/macros/sanity_slots.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: Update ef tests to fulu (#1123)
  testing/beacon-api/tests/serialization.rs
  testing/ef-tests/Makefile
  testing/ef-tests/src/macros/epoch_processing.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/ef-tests/src/macros/merkle_proof.rs
  testing/ef-tests/src/macros/operations.rs
  testing/ef-tests/src/macros/rewards.rs
  testing/ef-tests/src/macros/sanity_blocks.rs
  testing/ef-tests/src/macros/sanity_slots.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: Peer scoring
  Cargo.lock
  bin/ream/src/main.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/beacon/configurations.rs
  crates/networking/p2p/src/gossipsub/beacon/mod.rs
  crates/networking/p2p/src/gossipsub/beacon/scoring/constants.rs
  crates/networking/p2p/src/gossipsub/beacon/scoring/mod.rs
  crates/networking/p2p/src/gossipsub/beacon/scoring/params.rs
  crates/networking/p2p/src/gossipsub/beacon/scoring/topic_params.rs
  crates/networking/p2p/src/gossipsub/common/mod.rs
  crates/networking/p2p/src/gossipsub/common/scoring/constants.rs
  crates/networking/p2p/src/gossipsub/common/scoring/manager.rs
  crates/networking/p2p/src/gossipsub/common/scoring/mod.rs
  crates/networking/p2p/src/gossipsub/common/scoring/params.rs
  crates/networking/p2p/src/gossipsub/common/scoring/thresholds.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
  crates/networking/p2p/src/gossipsub/lean/mod.rs
  crates/networking/p2p/src/gossipsub/lean/scoring/constants.rs
  crates/networking/p2p/src/gossipsub/lean/scoring/mod.rs
  crates/networking/p2p/src/gossipsub/lean/scoring/params.rs
  crates/networking/p2p/src/gossipsub/lean/scoring/topic_params.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/Cargo.toml
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/banned_peers.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML

feat: update protocol ID
  crates/networking/p2p/src/req_resp/lean/protocol_id.rs
Owners: @KolbyML

feat: update protocol ID (#1126)
  crates/networking/p2p/src/req_resp/lean/protocol_id.rs
Owners: @KolbyML

Fixed error message
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Implemented and modified functions according to specs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Ran make pr
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

adds ignore feature for a few tests
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: update BeaconState and associated functions as per the Fulu spec (#1065)
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: make pruning code more robust and add p2p ream tests allowing setting connection topology
  .gitignore
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

update Makefile to run devnet2 feature for clippy
  Makefile
  bin/ream/src/main.rs
Owners: @KolbyML

feat: make pruning code more robust and add p2p ream tests allowing setting connection topology (#1134)
  .gitignore
  Makefile
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat: add node info, fork choice and finalization metrics
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: add lean_finalizations_total
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: use head_state.slot and reduce db lookup
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: inline node start time
  bin/ream/src/main.rs
Owners: @KolbyML

fix: remove redundant db lookup
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: add node info metrics (#1137)
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: add metadata to docker buidls
  .github/workflows/docker-ci.yml
  Dockerfile.cross
  Makefile
Owners: @KolbyML

feat: add metadata to docker builds (#1139)
  .github/workflows/docker-ci.yml
  Dockerfile.cross
  Makefile
Owners: @KolbyML

feat(lean): redial nonconnected bootnodes every 20 seconds
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

Improve node robustness
  bin/ream/src/main.rs
Owners: @KolbyML

feat(lean): redial nonconnected bootnodes every 20 seconds (#1140)
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

refactor: switch duplicate to trace log
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

refactor: switch duplicate to trace log (#1141)
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

tests: change tests in main from tokio:test to test for robustness
  bin/ream/src/main.rs
Owners: @KolbyML

test: change tests in main from tokio:test to test for robustness (#1143)
  bin/ream/src/main.rs
Owners: @KolbyML

feat: Implement checkpoint sync
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/checkpoint_sync/beacon/Cargo.toml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/hoodi.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/mainnet.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/sepolia.yaml
  crates/common/checkpoint_sync/beacon/src/checkpoint.rs
  crates/common/checkpoint_sync/beacon/src/lib.rs
  crates/common/checkpoint_sync/beacon/src/weak_subjectivity.rs
  crates/common/checkpoint_sync/lean/Cargo.toml
  crates/common/checkpoint_sync/lean/src/lib.rs
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/hoodi.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/mainnet.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/sepolia.yaml
  crates/common/checkpoint_sync/src/checkpoint.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/health.rs
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

switch string to Url
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  crates/common/checkpoint_sync/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat(lean): Implement checkpoint sync (#1142)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/checkpoint_sync/beacon/Cargo.toml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/hoodi.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/mainnet.yaml
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/sepolia.yaml
  crates/common/checkpoint_sync/beacon/src/checkpoint.rs
  crates/common/checkpoint_sync/beacon/src/lib.rs
  crates/common/checkpoint_sync/beacon/src/weak_subjectivity.rs
  crates/common/checkpoint_sync/lean/Cargo.toml
  crates/common/checkpoint_sync/lean/src/lib.rs
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/hoodi.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/mainnet.yaml
  crates/common/checkpoint_sync/resources/checkpoint_sync_sources/sepolia.yaml
  crates/common/checkpoint_sync/src/checkpoint.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/health.rs
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

chore: enable devnet1 feature for lean crates
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

test: update gossip validation for Fulu compatibility
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

style: sort dependencies in gossip-validation
  testing/gossip-validation/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: remove duplicate dependency in Cargo.toml
  Cargo.toml
Owners: @KolbyML

fix(ci): resolve devnet1/devnet2 feature conflicts
  Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: add running lean spec tests to ci
  .github/workflows/core-rust.yml
Owners: @KolbyML

fix: newline
  .github/workflows/core-rust.yml
Owners: @KolbyML

ci: add ci to run lean spec tests on pull requests and master (#1148)
  .github/workflows/core-rust.yml
Owners: @KolbyML

fix: register `/health` API
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/health.rs
  crates/rpc/lean/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
