Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: fixed requested changes
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: requested changes
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: fixed code to match the spec
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement engine api eth_sendRawTransaction
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: add salsa20/8 core implementation
  crates/crypto/keystore/src/lib.rs
  crates/crypto/keystore/src/salsa.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: ran make pr
  crates/crypto/keystore/src/salsa.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: removed empty file
  crates/crypto/keystore/src/lib.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99

fix: made the comment a doc comment
  crates/crypto/keystore/src/salsa.rs
Owners: @KolbyML, @syjn99

fix: fixed requested changes
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: implement /eth/v1/validator/sync_committee_subscriptions endpoint with tests
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/types/request.rs
Owners: @KolbyML, @varun-doshi

WIP: Updates to discv5 and RPC handler for validator sync committee
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: update p2p networking and rpc crates for eth v1 validator sync committee subscriptions
  Cargo.lock
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: chore: resolve merge conflicts and fix missing HashSet import
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: Implement engine api eth_getCode
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: fixed requested changes
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: rename function to hash_signature_prefix_to_u64
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/sync_committee.rs
Owners: @KolbyML

feat: add is_sync_committee_aggregator
  crates/common/validator/src/sync_committee.rs
Owners: @KolbyML

feat: add remaining functions from Phase0 spec
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/block.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/state.rs
Owners: @KolbyML

fix: use epoch for epoch signature
  crates/common/validator/src/state.rs
Owners: @KolbyML

fix: remove unused import
  crates/common/validator/src/attestation.rs
Owners: @KolbyML

fix: apply requested changes
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/state.rs
  crates/common/validator/src/sync_committee.rs
  crates/crypto/bls/src/signature.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: implement compute_signed_block_header and get_sync_committee_message
  crates/common/validator/src/block.rs
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/sync_committee.rs
Owners: @KolbyML

fix: remove compute_signed_block_header
  crates/common/validator/src/block.rs
Owners: @KolbyML

fix: bring back get_events_stream
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove Ok()
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: implement get_proposer_duties and create beacon_api_types crate
  Cargo.lock
  Cargo.toml
  crates/common/beacon_api_types/Cargo.toml
  crates/common/beacon_api_types/src/duties.rs
  crates/common/beacon_api_types/src/error.rs
  crates/common/beacon_api_types/src/id.rs
  crates/common/beacon_api_types/src/lib.rs
  crates/common/beacon_api_types/src/query.rs
  crates/common/beacon_api_types/src/request.rs
  crates/common/beacon_api_types/src/responses.rs
  crates/common/validator/Cargo.toml
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/validator.rs
  crates/rpc/src/handlers/blob_sidecar.rs
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/committee.rs
  crates/rpc/src/handlers/config.rs
  crates/rpc/src/handlers/duties.rs
  crates/rpc/src/handlers/header.rs
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/handlers/peers.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/handlers/version.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/types/mod.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/serialization.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: wrong parenthesis
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove unused imports
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: bring back validator dependencies as they are being used in events
  Cargo.lock
  crates/common/validator/Cargo.toml
Owners: @KolbyML

fix: remove unused dependencies
  Cargo.lock
  crates/common/validator/Cargo.toml
  testing/beacon-api/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: unused import
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: add clone back to BeaconApiClient
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove duplicate function
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: remove unused import
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove ssz decoding for proposer duties
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: implement /eth/v1/node/syncing in the validator
  crates/common/beacon_api_types/src/lib.rs
  crates/common/beacon_api_types/src/sync.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: correct SyncStatus import
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: requested changes
  crates/common/beacon_api_types/src/sync.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: ping peers every 5 minutes + maintain latest metadata
  Cargo.lock
  Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/constants.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/peer.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

feat: added keystore password validation
  crates/crypto/keystore/assets/ScryptDecryptionTest.json
  crates/crypto/keystore/src/decrypt.rs
  crates/crypto/keystore/src/encrypted_keystore.rs
  crates/crypto/keystore/src/lib.rs
  crates/crypto/keystore/src/pbkdf2.rs
  crates/crypto/keystore/src/salsa.rs
  crates/crypto/keystore/src/scrypt.rs
Owners: @KolbyML, @syjn99
