Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: add is_proposer
  crates/common/validator/lean/src/lib.rs
  crates/common/validator/lean/src/validator.rs
Owners: @KolbyML

feat: add light client optimistic update endpoint to Beacon APIs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: bump rust version to 1.89
  .github/workflows/riscv.yml
  Cargo.toml
Owners: @KolbyML

feat(lean): static peer connections
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/p2p/resources/lean_peers.yaml
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: end of line
  crates/networking/p2p/resources/lean_peers.yaml
Owners: @KolbyML

fix: apply suggestions
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/utils.rs
Owners: @KolbyML

fix: update peer table
  crates/common/chain/lean/src/lean_chain.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: use multiaddr format
  crates/networking/p2p/resources/lean_peers.yaml
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: p2p listening issue and add tests
  Cargo.lock
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/discv5/src/lean.rs
  crates/networking/discv5/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/network/misc.rs
  crates/networking/p2p/src/utils.rs
  crates/rpc/beacon/src/handlers/identity.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: refactoring
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/discv5/src/lean.rs
  crates/networking/discv5/src/lib.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/utils.rs
Owners: @KolbyML

fix: trace test
  Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/resources/lean_peers.yaml
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

fix: clean up
  Cargo.lock
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

feat: add slot numbers to dashboard
  crates/common/metrics/lean/tools/grafana/dashboards/pqdevnet.json
Owners: @KolbyML

feat: add process_block() timer
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lean_chain.rs
Owners: @KolbyML

refactor: structure for metrics crate
  bin/ream/src/metrics.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/metrics/lean/src/helpers.rs
  crates/common/metrics/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add configs and docker compose for metrics
  .gitignore
  Cargo.lock
  compose.override-example.yml
  compose.yml
  crates/common/metrics/lean/compose.yml
  crates/common/metrics/lean/tools/grafana/dashboard.yaml
  crates/common/metrics/lean/tools/grafana/dashboards/pqdevnet.json
  crates/common/metrics/lean/tools/grafana/datasource.yaml
  crates/common/metrics/lean/tools/prometheus/prometheus.yaml
Owners: @KolbyML

fix: remove naughty copy paste
  crates/common/metrics/lean/tools/prometheus/prometheus.yaml
Owners: @KolbyML

feat: initialize lean metrics
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/constants.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  bin/ream/src/metrics.rs
  compose.override.yml
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/metrics/lean/Cargo.toml
  crates/common/metrics/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make pr
  bin/ream/src/cli/lean_node.rs
Owners: @KolbyML

fix: improve error logging for genesis time
  crates/common/chain/lean/src/clock.rs
Owners: @KolbyML

feat: add quic support for lean
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/network/misc.rs
Owners: @KolbyML

refactor: move metrics services to a top level folder
  metrics/compose.yml
  metrics/grafana/dashboard.yaml
  metrics/grafana/dashboards/pqdevnet.json
  metrics/grafana/datasource.yaml
  metrics/prometheus/prometheus.yaml
Owners: @KolbyML

docs: add metrics readme
  metrics/README.md
Owners: @KolbyML

fix: remove accidentally committed compose.override.yml
  compose.override.yml
Owners: @KolbyML

refactor: move metric setup functions back into lib.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/metrics/lean/src/helpers.rs
  crates/common/metrics/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use quic as default
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/network/misc.rs
Owners: @KolbyML

refactor: rename ream-metrics-lean to ream-metrics + function reordering
  Cargo.lock
  Cargo.toml
  crates/common/chain/lean/Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/metrics/Cargo.toml
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove root docker compose
  .gitignore
  compose.override-example.yml
  compose.yml
  metrics/README.md
Owners: @KolbyML

fix: crate naming
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cleanup
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network/lean.rs
  crates/networking/p2p/src/network/misc.rs
Owners: @KolbyML

fix: run update book
  bin/ream/src/cli/lean_node.rs
  book/cli/ream/lean_node.md
Owners: @KolbyML

made ci happy
  Cargo.lock
  Makefile
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

added tempdir, removed serial
  Cargo.lock
  Makefile
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

using workspace tempdir
  testing/gossip-validation/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: receive blocks and votes from p2p
  bin/ream/src/main.rs
  crates/networking/p2p/src/gossipsub/lean/topics.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

test: added test for gossip_beacon_block
  Cargo.lock
  crates/networking/manager/src/service.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/gossip_integration_test.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: add peer rpc for lean
  Cargo.lock
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/lib.rs
  crates/rpc/lean/src/routes/mod.rs
  crates/rpc/lean/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

fix: cleanup
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: added ResReq domain for lean consensus
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/messages/lean_blocks.rs
  crates/networking/p2p/src/req_resp/messages/lean_status.rs
  crates/networking/p2p/src/req_resp/messages/lean_votes.rs
  crates/networking/p2p/src/req_resp/messages/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/req_resp/protocol_id.rs
Owners: @KolbyML

Revert "test: added test for gossip_beacon_block"
  Cargo.lock
  crates/networking/manager/src/service.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/gossip_integration_test.rs
Owners: @KolbyML, @Kayden-ML, @syjn99
