Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: make head state logging easier to read (#990)
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
Owners: @KolbyML

feat: update network config to read validators from config, instead of hardcoded
  bin/ream/assets/lean/config.yaml
  bin/ream/src/cli/mod.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: update network config to read validators from config, instead of hardcoded (#994)
  bin/ream/assets/lean/config.yaml
  bin/ream/src/cli/mod.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: lmd ghost: clarify documentation and simplify the method
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML

feat: lmd ghost: clarify documentation and simplify the method (#995)
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML

test: update genesis test to include validator index
  crates/common/chain/lean/src/genesis.rs
Owners: @KolbyML

test: update genesis test to include validator index (#996)
  crates/common/chain/lean/src/genesis.rs
Owners: @KolbyML

feat: implements beacon chain events endpoint
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/events.rs
  crates/common/api_types/beacon/src/lib.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/consensus/beacon/src/contribution_and_proof.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/common/validator/beacon/src/sync_committee.rs
  crates/common/validator/beacon/src/validator.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/events.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/beacon.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: fmt
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/rpc/beacon/src/handlers/events.rs
Owners: @KolbyML, @varun-doshi

feat: Generate network config with generate validator registry
  bin/ream/assets/lean/config.yaml
  bin/ream/src/cli/generate_validator_registry.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
Owners: @KolbyML, @syjn99

feat: Generate network config with generate validator registry (#998)
  bin/ream/assets/lean/config.yaml
  bin/ream/src/cli/generate_validator_registry.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
Owners: @KolbyML, @syjn99

feat: update leansig to latest version | breaks old keys
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/validator-config.yaml
  bin/ream/assets/lean/validators.yaml
Owners: @KolbyML

feat: update leansig to latest version | breaks old keys (#988)
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/validator-config.yaml
  bin/ream/assets/lean/validators.yaml
Owners: @KolbyML

resolve changes
  Cargo.toml
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: add spec test for fork choice
  .gitignore
  Cargo.lock
  Cargo.toml
  book/SUMMARY.md
  book/cli/ream.md
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/db/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/lib.rs
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/src/types/state_transition.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

Update fork_choice.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: rename to produce_attestation_data
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

refactor: rename to produce_attestation_data (#999)
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

returned on errors
  Cargo.toml
  crates/rpc/beacon/src/handlers/validator.rs
  git
Owners: @KolbyML, @varun-doshi

fixed cargo.toml
  Cargo.toml
Owners: @KolbyML

feat(api): implement eth/v2/validator/aggregate_and_proofs endpoint (#963)
  Cargo.lock
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/mod.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: add startup message
  bin/ream/src/lib.rs
  bin/ream/src/main.rs
  bin/ream/src/startup_message.rs
  crates/common/node/src/version.rs
Owners: @KolbyML

feat: add startup message (#1001)
  bin/ream/src/lib.rs
  bin/ream/src/main.rs
  bin/ream/src/startup_message.rs
  crates/common/node/src/version.rs
Owners: @KolbyML

feat(breaking): remove bincode and use ssz instead
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat(breaking): remove bincode and use ssz instead (#992)
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: Add generated files to .gitattributes
  .gitattributes
Owners: @KolbyML

feat(tests): Add leanspec block production tests
  Cargo.toml
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-tests/Cargo.toml
  testing/lean-tests/tests/block_production.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: add is_dummy flag in verify_signatures
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: failing test + clean up
  Cargo.lock
  Cargo.toml
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-tests/Cargo.toml
  testing/lean-tests/tests/block_production.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: resolve review
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lib.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
  crates/common/fork_choice/lean/src/genesis.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: Add generated files to .gitattributes (#1002)
  .gitattributes
Owners: @KolbyML

fix: remove extra functions
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: Ream's Chain status says 0 is connected
  crates/common/chain/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat(tests): Add leanspec block production tests (#986)
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/genesis.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Ream's Chain status says 0 is connected (#1004)
  crates/common/chain/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

chore: update docker ci to make it faster
  .github/workflows/book-cli-check.yml
  .github/workflows/docker-ci.yml
  .gitignore
  Dockerfile.cross
  Makefile
Owners: @KolbyML

chore: update docker ci to make it faster (#1005)
  .github/workflows/book-cli-check.yml
  .github/workflows/docker-ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Cross.toml
  Dockerfile.cross
  Makefile
Owners: @KolbyML

chore: update leanSig to devnet1 pin
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
Owners: @KolbyML

chore: update leanSig to devnet1 pin (#1006)
  Cargo.lock
  Cargo.toml
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
Owners: @KolbyML

add the logic for checking map_err variable
  .github/workflows/core-rust.yml
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
