Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic jist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                               @KolbyML @syjn99
crates/common/consensus/        @KolbyML @Kayden-ML @syjn99 @varun-doshi
crates/common/execution_engine/ @KolbyML @Kayden-ML @syjn99
crates/crypto/                  @KolbyML @syjn99
crates/rpc/                     @KolbyML @varun-doshi
crates/testing/                 @KolbyML @Kayden-ML @syjn99

feat: implement states/{state_id}/fork endpoint
  crates/rpc/src/handlers/fork.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implement /finality_checkpoints endpoint
  crates/rpc/src/handlers/checkpoint.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: add versioned api base endpoints
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

feat: add debug route with v2
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/debug.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

chore: wip, adding state id str types
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/types/id.rs
Owners: @KolbyML, @varun-doshi

fix: return err for head|genesis, update fns for other variants
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/debug.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/types/id.rs
Owners: @KolbyML, @varun-doshi

fix: separate v1 and v2 api routes
  crates/rpc/src/routes/debug.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

feat: implement /<block>/root endpoint
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/beacon.rs
  crates/storage/src/tables/beacon_block.rs
Owners: @KolbyML, @varun-doshi, @syjn99

implement eth2 field
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/discv5/src/lib.rs
Owners: @KolbyML, @syjn99

feat: support for tracking peers
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/node/Cargo.toml
  crates/common/node/src/lib.rs
  crates/common/node/src/network_channel.rs
  crates/common/node/src/peer.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/peer_count.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @syjn99, @varun-doshi

feat: extract block fetching
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/types/mod.rs
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @varun-doshi

feat(rpc): implement /config/spec endpoint following Beacon API spec
  crates/rpc/src/handlers/config.rs
  crates/rpc/src/routes/config.rs
Owners: @KolbyML, @varun-doshi

Update mod.rs
  crates/rpc/src/handlers/mod.rs
Owners: @KolbyML, @varun-doshi

Create root.rs
  crates/rpc/src/handlers/root.rs
Owners: @KolbyML, @varun-doshi

chore: rebase the pr with main
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/root.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @syjn99, @varun-doshi

Calculate hash_tree_root in states.rs & handling of rootResponse
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/root.rs
  crates/rpc/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

moved root to state.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/root.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

refactor(config): simplify field renaming in SpecConfig using serde rename_all
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @varun-doshi

changed name to get_state_root
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

Moved responses to types::response
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/checkpoint.rs
  crates/rpc/src/handlers/fork.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/randao.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @varun-doshi

fixed linting issues
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/checkpoint.rs
  crates/rpc/src/handlers/fork.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/randao.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/types/response.rs
  crates/storage/src/tables/slot_index.rs
Owners: @KolbyML, @varun-doshi, @syjn99

Fixed naming in beaacon.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implement /<state_id>/committees endpoint
  crates/rpc/src/handlers/committee.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/randao.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/types/query.rs
Owners: @KolbyML, @varun-doshi

feat: implement get_forkchoice_store function
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

Update crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/config.rs
Owners: @KolbyML, @syjn99

feat: implementing fork choice macro
  testing/ef-tests/src/macros/fork_choice.rs
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @syjn99

refactor: simplify network spec by using INACTIVITY_PENALTY_QUOTIENT_BELLATRIX constant
  crates/common/network_spec/src/networks.rs
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @syjn99, @varun-doshi

refactor: remove fields from NetworkSpec and use constants instead
  crates/common/consensus/src/constants.rs
  crates/common/network_spec/src/networks.rs
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

refactor: implement From<Arc<NetworkSpec>> for SpecConfig
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @varun-doshi

refactor:Use address and B32 instead of string
  crates/common/network_spec/src/networks.rs
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @syjn99, @varun-doshi

refactor:Update route for spec_config
  crates/rpc/src/routes/config.rs
Owners: @KolbyML, @varun-doshi

refactor: use filter pattern for network_spec instead of multiple clones
  crates/common/consensus/src/constants.rs
  crates/rpc/src/handlers/config.rs
  crates/rpc/src/routes/config.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

feat: create v2 block endpoint, return block attestations
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @varun-doshi

chore: add BeaconVersionedResponse
  crates/rpc/src/handlers/mod.rs
Owners: @KolbyML, @varun-doshi

chore: refactor block root fn
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

chore: rebase
  crates/rpc/src/handlers/mod.rs
Owners: @KolbyML, @varun-doshi

fix: add block root endpoint
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat(discv5): add attestation bitfield support for subnets
  Cargo.lock
  bin/ream/src/main.rs
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/lib.rs
  crates/networking/discv5/src/subnet.rs
Owners: @KolbyML, @syjn99

feat: add endpoint returning reward-related metadata
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

feat: add route for to expose block rewards endpoint
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi
