Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat(devnet1): update containers for block (#877)
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Update process_attestations() to match devnet-1 Spec
  Cargo.lock
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Update process_attestations() to match devnet-1 Spec (#884)
  Cargo.lock
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Update newly added STF logic for Devnet-1
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/validator/lean/src/lib.rs
  crates/common/validator/lean/src/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fixed tests failing
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Update newly added STF logic for Devnet-1 (#889)
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/validator/lean/src/lib.rs
  crates/common/validator/lean/src/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

WIP: implement api/aggregate_and_proofs
  Cargo.lock
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

Update Status ReqResp request to latest spec
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
Owners: @KolbyML

feat: update Status ReqResp request to latest spec (#891)
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
Owners: @KolbyML

feat: add lean time table to the database
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_time.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML

feat: add lean time table to the database (#892)
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_time.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML

feat: add lean head table to the database
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @varun-doshi

feat: add lean head table to the database (#893)
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @varun-doshi

feat: add self target table
  crates/common/chain/lean/src/lean_chain.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @varun-doshi

feat: add safe target table to lean database (#894)
  crates/common/chain/lean/src/lean_chain.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @varun-doshi

implemented a rough fn for api/aggregate_and_proofs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: logic and return fixed
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

removed unused imports
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: implement remove in database for tables
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/beacon/blobs_and_proofs.rs
  crates/storage/src/tables/beacon/block_timeliness.rs
  crates/storage/src/tables/beacon/checkpoint_states.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/latest_messages.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/slot_index.rs
  crates/storage/src/tables/beacon/state_root_index.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justifications.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/field.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/latest_known_attestation.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/lean_time.rs
  crates/storage/src/tables/lean/slot_index.rs
  crates/storage/src/tables/lean/state_root_index.rs
  crates/storage/src/tables/table.rs
Owners: @KolbyML

feat: implement remove in database for tables (#895)
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/beacon/blobs_and_proofs.rs
  crates/storage/src/tables/beacon/block_timeliness.rs
  crates/storage/src/tables/beacon/checkpoint_states.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/latest_messages.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/slot_index.rs
  crates/storage/src/tables/beacon/state_root_index.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justifications.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/field.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/latest_known_attestation.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/lean_time.rs
  crates/storage/src/tables/lean/slot_index.rs
  crates/storage/src/tables/lean/state_root_index.rs
  crates/storage/src/tables/table.rs
Owners: @KolbyML

fix: test failing
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: reduce code duplication for database field table
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/store.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/field.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/lean_time.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: fix tests failing
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

refactor: reduce code duplication for database field table (#897)
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/store.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/field.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/lean_head.rs
  crates/storage/src/tables/lean/lean_safe_target.rs
  crates/storage/src/tables/lean/lean_time.rs
  testing/ef-tests/src/macros/fork_choice.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: use database instead of memory for latest new attestations
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_latest_new_attestations.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

refactor: use database instead of memory for latest new attestations (#898)
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/lean/lean_latest_new_attestations.rs
  crates/storage/src/tables/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

fix: fixed deadlock issues
  crates/common/chain/lean/src/lean_chain.rs
Owners: @KolbyML

fix: fixed deadlock issues (#899)
  crates/common/chain/lean/src/lean_chain.rs
Owners: @KolbyML

feat: integrate new hash-sig PrivateKey interface
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

test: add test for signing outside activated interval
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

fix: comments in private_key.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

fix: don't need mutable reference
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

feat: integrate new hash-sig PrivateKey interface (#900)
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

refactor: rename Leanchain to store and move it to the lean fork choice crate
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/service.rs
  crates/common/checkpoint_sync/Cargo.toml
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/constants.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/lib.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/manager/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/server.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/macros/fork_choice.rs
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: uncommented cfg
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

refactor: rename Leanchain to Store and move it to the lean fork choice (#901)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/service.rs
  crates/common/checkpoint_sync/Cargo.toml
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/constants.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/lib.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/networking/manager/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/block_header.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/server.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

refactor: wrapped SyncStatus struct to match the eth/v1/node/syncing json response
  crates/common/api_types/beacon/src/sync.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

feat: add devnet configuration
  bin/ream/src/cli/constants.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: add devnet configuration (#906)
  bin/ream/src/cli/constants.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement updated fork choice logic to latest devnet spec
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/constants.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/fork_choice/lean/src/utils.rs
  crates/storage/src/tables/lean/lean_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
