Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

add STYLE.md
  STYLE.md
Owners: @KolbyML

feat(tests): Add leanspec attestation tests
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

updated make fmt to include the map_err checks
  .github/workflows/core-rust.yml
  Makefile
Owners: @KolbyML

feat(ci): enforce consistent `map_err(|err|...)` naming style (#1007)
  .github/workflows/core-rust.yml
  Makefile
  STYLE.md
Owners: @KolbyML

refactor: fix formating ci
  Cargo.lock
  Cargo.toml
  crates/common/api_types/beacon/src/id.rs
  crates/common/api_types/common/src/id.rs
  crates/common/consensus/misc/Cargo.toml
  crates/common/consensus/misc/src/checkpoint.rs
  crates/common/polynomial_commitments/src/trusted_setup.rs
  crates/crypto/bls/Cargo.toml
  crates/crypto/bls/src/errors.rs
  crates/crypto/bls/src/public_key.rs
  crates/crypto/bls/src/supranational/public_key.rs
  crates/crypto/bls/src/supranational/signature.rs
  crates/crypto/bls/src/zkcrypto/private_key.rs
  crates/crypto/bls/src/zkcrypto/public_key.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
  crates/networking/discv5/src/eth2.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: fix formating ci (#1009)
  Cargo.lock
  Cargo.toml
  crates/common/api_types/beacon/src/id.rs
  crates/common/api_types/common/src/id.rs
  crates/common/consensus/misc/Cargo.toml
  crates/common/consensus/misc/src/checkpoint.rs
  crates/common/polynomial_commitments/src/trusted_setup.rs
  crates/crypto/bls/Cargo.toml
  crates/crypto/bls/src/errors.rs
  crates/crypto/bls/src/public_key.rs
  crates/crypto/bls/src/supranational/public_key.rs
  crates/crypto/bls/src/supranational/signature.rs
  crates/crypto/bls/src/zkcrypto/private_key.rs
  crates/crypto/bls/src/zkcrypto/public_key.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
  crates/networking/discv5/src/eth2.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

clean up tests
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat(tests): Add leanspec attestation tests (#1008)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: add spec test for fork choice
  .gitignore
  Cargo.lock
  Cargo.toml
  book/SUMMARY.md
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/db/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/lib.rs
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/src/types/state_transition.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

test: add lean spec test for fork choice (#919)
  .gitignore
  Cargo.lock
  Cargo.toml
  book/SUMMARY.md
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/db/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/lib.rs
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/src/types/state_transition.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: gossiphub to validate and forward lc_finality
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: remove leanSig test configuration, as tests in release mode is fast
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
Owners: @KolbyML, @syjn99

feat: remove leanSig test configuration, as tests in release mode is fast (#1012)
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
Owners: @KolbyML, @syjn99

requested changes done
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
Owners: @KolbyML

improved code structure while writing to db
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
Owners: @KolbyML

changes
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
Owners: @KolbyML

feat(gossiphub): validate and forward light_client_finality_update (#1011)
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

chore: add head commit sha as docker tag
  Makefile
Owners: @KolbyML

feat: update PublicKey serialization to new behavior by hash-sig-cli
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  crates/crypto/post_quantum/src/leansig/public_key.rs
Owners: @KolbyML, @syjn99

feat: update PublicKey serialization to new behavior by hash-sig-cli (#1019)
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  crates/crypto/post_quantum/src/leansig/public_key.rs
Owners: @KolbyML, @syjn99

feat: remove redundant state root calculation
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: remove redundant state root calculation (#1016)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

WIP: api/beacon-committee-subscriptions
  crates/common/api_types/beacon/src/committee.rs
  crates/common/validator/beacon/src/attestation.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

performed validation and grouping
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

tryna understand the networking logic for subnets
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network/beacon/channel.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/attestation.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

some changes
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: Update metrics to lean_validators_count metric to represent locally running validators, not the network count
  Cargo.lock
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML

feat: Update metrics to lean_validators_count metric to represent locally running validators, not the network count (#1021)
  Cargo.lock
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML

feat: use ssz binary files instead of json files for storing private keys
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/src/cli/generate_validator_registry.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
Owners: @KolbyML, @syjn99

feat: use ssz binary files instead of json files for storing private keys (#1022)
  bin/ream/assets/lean/config.yaml
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/src/cli/generate_validator_registry.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
Owners: @KolbyML, @syjn99

feat(tests): Implement validator integration + error tests
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

changes
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network/beacon/channel.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/attestation.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat(tests): Implement validator integration + error tests (#1023)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: add back json support for reading PrivateKey's
  book/quickstart.md
  crates/common/validator/lean/src/registry.rs
Owners: @KolbyML

feat: add back json support for reading PrivateKey's (#1024)
  book/quickstart.md
  crates/common/validator/lean/src/registry.rs
Owners: @KolbyML

WIP
  crates/networking/manager/src/p2p_sender.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

ran make commands
  crates/common/api_types/beacon/src/committee.rs
  crates/common/validator/beacon/src/attestation.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: implement api/beacon-committee-subscriptions
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

added the endpoint in the config service
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

changed committees to subscriptions as param
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
