Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: Implement engine api eth_blockNumber
  Cargo.lock
  Cargo.toml
  crates/common/execution_engine/Cargo.toml
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: fixed cargo
  Cargo.lock
  Cargo.toml
  crates/common/execution_engine/Cargo.toml
Owners: @KolbyML, @Kayden-ML

fix: fixed requested changes
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement engine api eth_getBlockByHash
  Cargo.lock
  Cargo.toml
  crates/common/execution_engine/Cargo.toml
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement engine api eth_getBlockByNumber
  crates/common/execution_engine/src/lib.rs
Owners: @KolbyML, @Kayden-ML

feat: setup ws checkpoint check
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/common/consensus/src/checkpoint.rs
  crates/common/consensus/src/constants.rs
  crates/common/consensus/src/lib.rs
  crates/common/consensus/src/weak_subjectivity.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

feat: handle ws for existing db
  bin/ream/src/main.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/storage/src/tables/beacon_state.rs
Owners: @KolbyML, @varun-doshi

fix: apply suggestions
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/checkpoint_sync/src/weak_subjectivity.rs
  crates/common/consensus/src/checkpoint.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/consensus/src/lib.rs
  crates/common/consensus/src/weak_subjectivity.rs
  crates/storage/src/tables/beacon_state.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

fix: make clippy happy
  crates/common/checkpoint_sync/src/lib.rs
Owners: @KolbyML, @varun-doshi

fix: nits
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/cli/ream/beacon_node.md
Owners: @KolbyML

feat: handle dialing event by upserting peer with connecting state and outbound direction
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: update upsert_peer method to modify only necessary fields and improve readability in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: remove unused connection state and direction constants for cleaner code
  crates/networking/p2p/src/constants.rs
Owners: @KolbyML

chore: include `ream_p2p` crate in workspace
  crates/rpc/Cargo.toml
Owners: @KolbyML, @varun-doshi

feat: mock get_peer
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/peers.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

refactor: rename runtime variable for clarity in test module
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: replace string fields with enums for CachedPeer state and direction for improved type safety
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: update get_peer function to use PeerTable for improved type safety
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: remove unused import for subnet in test module
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: implement peer_id_from_enr function to derive PeerId from ENR
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename network initialization functions for clarity in tests
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

test: initialize network specification in tests and add cached_peer test
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename test function for clarity in peer ID derivation from ENR
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: simplify get_peer function and remove mock fetch logic
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: define PeerTable type alias for improved readability
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: update test module imports for clarity and add genesis validators root initialization
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: remove dialing event handling from network event processing
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename network variable for clarity in tests
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: reorganize peer management methods in Network struct
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: simplify PeerId usage in tests by removing libp2p prefix
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

test: add lifecycle test for peer table connections
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: replace string constants with enums for connection state and direction for improved type safety
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: add RwLock import for improved concurrency management
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: handle connection closed events and update peer state in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: add CachedPeer struct and peer_table for managing peer state
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: update start_server function to accept PeerTable for improved peer management
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

refactor: replace Option<String> with Direction enum for improved type safety in CachedPeer
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: remove unused STATE_CONNECTING constant from network module
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: handle outgoing connection errors and update peer state in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: remove unused empty_network function from tests
  crates/networking/p2p/src/network.rs
Owners: @KolbyML
