Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: builder initialization logic
  bin/ream/src/main.rs
Owners: @KolbyML

feat: partially implements beacon chain events endpoint (#997)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/events/beacon/Cargo.toml
  crates/common/events/beacon/src/contribution_and_proof.rs
  crates/common/events/beacon/src/event/attestation.rs
  crates/common/events/beacon/src/event/blob.rs
  crates/common/events/beacon/src/event/chain.rs
  crates/common/events/beacon/src/event/execution.rs
  crates/common/events/beacon/src/event/light_client.rs
  crates/common/events/beacon/src/event/mod.rs
  crates/common/events/beacon/src/event/slashing.rs
  crates/common/events/beacon/src/event/sync_committee.rs
  crates/common/events/beacon/src/event/validator.rs
  crates/common/events/beacon/src/lib.rs
  crates/common/validator/beacon/Cargo.toml
  crates/common/validator/beacon/src/beacon_api_client/event.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/common/validator/beacon/src/sync_committee.rs
  crates/common/validator/beacon/src/validator.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/rpc/beacon/src/handlers/events.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/beacon.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

feat: implements /eth/v1/validator/register_validator (#1048)
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  book/cli/ream/beacon_node.md
  crates/common/validator/beacon/src/builder/builder_client.rs
  crates/common/validator/beacon/src/builder/validator_registration.rs
  crates/networking/manager/src/config.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
Owners: @KolbyML, @varun-doshi

feat: implements /eth/v1/beacon/rewards/attestations/{epoch}
  crates/common/api_types/beacon/src/lib.rs
  crates/common/api_types/beacon/src/rewards.rs
  crates/rpc/beacon/src/handlers/attestation.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: created endpoint for sync committee duties
  crates/common/api_types/beacon/src/responses.rs
  crates/rpc/beacon/src/handlers/duties.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

add DataColumnSidecar for gossip and ColumnSidecarsTable for storage
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/misc/src/beacon_block_header.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/tables/beacon/column_sidecars.rs
  crates/storage/src/tables/beacon/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

validate and store in the db
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

impl DataColumnSidecar::verify_inclusion_proof
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

impl verify_cell_kzg_proof_batch
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML

update status, metadata, requests for datacolumnsidebars,
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/beacon/network_state.rs
  crates/networking/p2p/src/network/beacon/peer.rs
  crates/networking/p2p/src/network/beacon/utils.rs
  crates/networking/p2p/src/req_resp/beacon/messages/data_column_sidecars.rs
  crates/networking/p2p/src/req_resp/beacon/messages/meta_data.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/status.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/req_resp/protocol_id.rs
  crates/rpc/beacon/src/handlers/identity.rs
Owners: @KolbyML, @varun-doshi

add handlers and ENR
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

fmt nightly
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML

update constant
  crates/common/consensus/beacon/src/blob_sidecar.rs
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/consensus/misc/src/constants/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fmt
  crates/networking/discv5/src/discovery.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
Owners: @KolbyML

make pr
  crates/common/polynomial_commitments/src/handlers.rs
Owners: @KolbyML, @Kayden-ML

feat: implements /eth/v1/validator/contribution_and_proofs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat(discv5): Implement attestation subnet subscription
  Cargo.lock
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

fix: implements review comments
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

feat: implements /eth/v1/beacon/rewards/attestations/{epoch} (#1053)
  crates/common/api_types/beacon/src/lib.rs
  crates/common/api_types/beacon/src/rewards.rs
  crates/rpc/beacon/src/handlers/attestation.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: created endpoint for sync committee duties (#1054)
  crates/common/api_types/beacon/src/responses.rs
  crates/rpc/beacon/src/handlers/duties.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: implements /eth/v1/validator/contribution_and_proofs (#1055)
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

resolve review comments
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

drop rw lock
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML

feat: endpoint for validator aggregate attestations, wip
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: peerdas p2p interface (#1046)
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/consensus/beacon/src/blob_sidecar.rs
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/misc/src/beacon_block_header.rs
  crates/common/consensus/misc/src/constants/beacon.rs
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/beacon/network_state.rs
  crates/networking/p2p/src/network/beacon/peer.rs
  crates/networking/p2p/src/network/beacon/utils.rs
  crates/networking/p2p/src/req_resp/beacon/messages/data_column_sidecars.rs
  crates/networking/p2p/src/req_resp/beacon/messages/meta_data.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/status.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/req_resp/protocol_id.rs
  crates/rpc/beacon/src/handlers/identity.rs
  crates/storage/src/cache.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/tables/beacon/column_sidecars.rs
  crates/storage/src/tables/beacon/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

WIP: implement /validator/blocks/{slot}
  crates/crypto/bls/src/signature.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @syjn99, @varun-doshi

integrated execution engine for payload
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/execution_engine/src/lib.rs
  crates/common/execution_engine/src/rpc_types/forkchoice_update.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fetched payload from execution engine
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  crates/common/execution_engine/src/lib.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

wip
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

added mev boost
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/mod.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

separating local and mev block
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

divided logic into functions
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat(pool): add method to retrieve all attestations from pool
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

feat(rpc): add endpoints for attestations
  Cargo.lock
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat(pool): add attestation storage and retrieval methods
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

fix: add committee index in attestation key, fix insert and get functions
  crates/common/api_types/beacon/src/query.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

feat(pool): add attestation validation
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

add fulu to the beacon network spec
  crates/common/network_spec/src/fork_schedule.rs
  crates/common/network_spec/src/networks/beacon.rs
Owners: @KolbyML, @Kayden-ML

get max_blobs_per_block from the spec for data_column_sidecar
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML

some fixes
  crates/common/consensus/misc/src/constants/beacon.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
