Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: lint issues
  bin/ream/src/cli/account_manager.rs
Owners: @KolbyML

fix: fixed "runtime is dropped error"
  bin/ream/src/main.rs
Owners: @KolbyML

Fixes
  crates/storage/src/tables/slashing_pool.rs
Owners: @KolbyML

fix: failing to BlockBlock requests over p2p
  crates/networking/p2p/src/req_resp/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
Owners: @KolbyML

feat: remove excess Runtimes from 3 to 1 + properly shutdown runtime
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/executor/Cargo.toml
  crates/common/executor/src/lib.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML

feat: Implement storing blobs in the data directory instead of the database
  Cargo.lock
  Cargo.toml
  crates/storage/Cargo.toml
  crates/storage/src/db.rs
  crates/storage/src/errors.rs
  crates/storage/src/tables/blobs_and_proofs.rs
Owners: @KolbyML

feat: implement make attestation
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: inline functions
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: added test and fixed code
  Cargo.lock
  crates/common/consensus/src/blob_sidecar.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/storage/Cargo.toml
  crates/storage/src/errors.rs
  crates/storage/src/tables/blobs_and_proofs.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: removed redundancy
  crates/storage/src/tables/blobs_and_proofs.rs
Owners: @KolbyML

fix: fixed redundancy
  crates/storage/src/db.rs
  crates/storage/src/errors.rs
Owners: @KolbyML

merged SlashingPool with OperationPool in crates/common to use the same struct
  Cargo.lock
  crates/common/operation_pool/Cargo.toml
  crates/common/operation_pool/src/lib.rs
  crates/rpc/src/handlers/pool.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/slashing_pool.rs
Owners: @KolbyML, @varun-doshi

Removed parking-lot dependency from storage
  Cargo.lock
  crates/storage/Cargo.toml
Owners: @KolbyML

feat: refactor
  crates/common/beacon_api_types/src/error.rs
  crates/rpc/src/handlers/blob_sidecar.rs
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/header.rs
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: head slot and sync distance calculations
  crates/common/beacon_api_types/src/sync.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/syncing.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

feat: blueprint of syncing endpoint, is_syncing, el_offline, is_optimistic
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/beacon_api_types/src/responses.rs
  crates/common/execution_engine/src/lib.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/syncing.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: clean code from unused parts
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/syncing.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: remove TODO comment and inline is_syncing check
  crates/rpc/src/handlers/syncing.rs
Owners: @KolbyML, @varun-doshi

chore: update Store initialization after rebase and sort dependencies
  bin/ream/src/main.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/syncing.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

refactor: move zkvm feature flag into its own types
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/consensus/src/electra/mod.rs
  crates/common/consensus/src/electra/zkvm_types.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo fmt
  crates/common/consensus/src/electra/zkvm_types.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: add back quoted_u8_var_list removed by accident
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: quoted_u8_var_list not implemented for MaxAttestationsPerEpoch
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: *_epoch_participation to use ValidatorRegistryLimit as per Altair fork
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/consensus/src/electra/zkvm_types.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: switch remaining references of MaxAttestationsPerEpoch to ValidatorRegistryLimit
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: fixed clippy errors
  crates/rpc/src/handlers/pool.rs
  crates/rpc/src/handlers/syncing.rs
Owners: @KolbyML, @varun-doshi

feat: refactor
  crates/common/consensus/src/constants.rs
  crates/common/light_client/src/update.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use let some with bail!
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added oapi testing schema for beacon apis
  testing/beacon-api/Cargo.toml
  testing/beacon-api/src/beacon_api.rs
  testing/beacon-api/src/lib.rs
  testing/beacon-api/src/schema.rs
  testing/beacon-api/src/test_data.rs
  testing/beacon-api/src/test_utils.rs
  testing/beacon-api/tests/beacon_api.rs
  testing/beacon-api/tests/serialization.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

Revert accidental change to serialization.rs
  testing/beacon-api/tests/serialization.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: implement submit_aggregate_and_proof
  crates/common/validator/src/aggregate_and_proof.rs
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: inline variables
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: rebase
  crates/common/validator/src/validator.rs
Owners: @KolbyML

refactor: rename PubKey to PublicKey
  crates/common/beacon_api_types/src/duties.rs
  crates/common/beacon_api_types/src/id.rs
  crates/common/consensus/src/bls_to_execution_change.rs
  crates/common/consensus/src/consolidation_request.rs
  crates/common/consensus/src/deposit_data.rs
  crates/common/consensus/src/deposit_message.rs
  crates/common/consensus/src/deposit_request.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/consensus/src/pending_deposit.rs
  crates/common/consensus/src/sync_committee.rs
  crates/common/consensus/src/validator.rs
  crates/common/consensus/src/withdrawal_request.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
  crates/crypto/bls/README.md
  crates/crypto/bls/src/lib.rs
  crates/crypto/bls/src/public_key.rs
  crates/crypto/bls/src/supranational/mod.rs
  crates/crypto/bls/src/supranational/public_key.rs
  crates/crypto/bls/src/supranational/signature.rs
  crates/crypto/bls/src/traits.rs
  crates/crypto/bls/src/zkcrypto/mod.rs
  crates/crypto/bls/src/zkcrypto/public_key.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
  crates/crypto/keystore/src/keystore.rs
  crates/rpc/src/handlers/duties.rs
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: removed abbreviated err and validators for better readability
  book/cli/help.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/consensus/src/polynomial_commitments/kzg_commitment.rs
  crates/crypto/bls/src/supranational/signature.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: cargo
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fixed inlined err
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: add DS_Store to gitignore
  .gitignore
Owners: @KolbyML

feat: implement light client finality update endpoint
  crates/rpc/src/handlers/light_client.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: remove unused deps
  Cargo.lock
  crates/common/builder/Cargo.toml
Owners: @KolbyML
