Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: use .. instead of statuscode: _
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

fix: spelling
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

feat: gossipsub validate and forward: proposer_slashing
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: remove intervals
  bin/ream/src/main.rs
Owners: @KolbyML

fix: imports
  bin/ream/src/main.rs
Owners: @KolbyML

fix: inline variables
  bin/ream/src/main.rs
Owners: @KolbyML

fix: use bail instead of Err(anyhow!)
  bin/ream/src/cli/import_keystores.rs
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

fix: do not qualify
  bin/ream/src/main.rs
Owners: @KolbyML

fix: inline variables
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

feat: gossipsub validate and forward: attester_slashing
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: use simple 1/3 slot wait
  crates/common/validator/beacon/src/validator.rs
Owners: @KolbyML

feat: add beacon gossip validation
  Cargo.lock
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.json
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: add test for gossip block
  Cargo.lock
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: CI
  testing/beacon-api/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: use feature gate
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/storage/src/cache.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.ssz_snappy
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: update features
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  testing/beacon-api/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: validate sync_committee_contribution_and_proof
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/misc/src/constants.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_and_proof.rs
  crates/storage/src/cache.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: test folder clean up
  Cargo.lock
  Cargo.toml
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/assets/sepolia/blocks/slot_8084160.ssz_snappy
  testing/gossip-validation/tests/assets/sepolia/blocks/slot_8084248.ssz_snappy
  testing/gossip-validation/tests/assets/sepolia/blocks/slot_8084249.ssz_snappy
  testing/gossip-validation/tests/assets/sepolia/blocks/slot_8084250.ssz_snappy
  testing/gossip-validation/tests/assets/sepolia/states/slot_8084248.ssz_snappy
  testing/gossip-validation/tests/assets/sepolia/states/slot_8084249.ssz_snappy
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: udeps
  Cargo.lock
  testing/beacon-api/Cargo.toml
  testing/gossip-validation/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: initial code for 3SF
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: quick fixes to get build passes first
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: clippy and fmt suggestions
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: more linting
  Cargo.lock
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo udeps
  bin/ream/Cargo.toml
Owners: @KolbyML

Simplify justifications init
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Rename Vote and VoteData
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Use range any instead of for loop
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: better upsert
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Vote and SignedVote
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: change todo from adding TreeHash to splitting the Staker and service
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: use B256 directly
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: bring back Config and use U4096 for both max blocks and validators
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: usize to u64
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove proposer_index from block
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: replace let _ with expect()
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: unwrap to expect
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: mis-implementation of latest_votes
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Staker instantiation
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: change Weak<RefCell<>> to Arc<Mutex<>>
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: move Staker from common/consensus/lean to common/lean_chain
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/Cargo.toml
  crates/common/lean_chain/src/lib.rs
  crates/common/lean_chain/src/staker.rs
  crates/networking/manager/Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
