Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: lean state rpc
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

fix: function naming
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: refactor
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

docs: make Ream Book more prevalent in readme
  README.md
Owners: @KolbyML

fix: justifications size by num validators
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: linter
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: sp1 ci
  .github/workflows/riscv.yml
Owners: @KolbyML

feat: add proper head slot metric
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add beacon committee selection endpoint
  crates/common/consensus/beacon/src/beacon_committee_selection.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add sync committee pool to manage sync committee messages and contributions. get /eth/v1/validator/sync_committee_contribution endpoint
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/store.rs
  crates/common/sync_committee_pool/Cargo.toml
  crates/common/sync_committee_pool/src/lib.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/lib.rs
  crates/rpc/beacon/src/routes/validator.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: add [lints] to sync_committee_pool Cargo.toml
  crates/common/sync_committee_pool/Cargo.toml
Owners: @KolbyML

fix: default bitlist to num_validators size
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make lint happy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor RpcServerConfig and use builder pattern (#699)
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/rpc/beacon/src/lib.rs
  crates/rpc/beacon/src/server.rs
  crates/rpc/common/src/config.rs
  crates/rpc/common/src/lib.rs
  crates/rpc/common/src/server.rs
  crates/rpc/lean/src/config.rs
  crates/rpc/lean/src/lib.rs
  crates/rpc/lean/src/server.rs
Owners: @KolbyML, @varun-doshi

fix: function naming
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

feat: lean state rpc
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

fix: refactor
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: use state instead of block
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: lint
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: remove extra function
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

feat: add initial variables
  Cargo.lock
  testing/lean-tests/Cargo.toml
  testing/lean-tests/tests/state.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: initialize lean tests
  Cargo.lock
  Cargo.toml
  testing/lean-tests/Cargo.toml
  testing/lean-tests/tests/state.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: use first instead for get(0)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: assertions
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use get instead of index
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: match variable name to spec
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: restructure tests in state.rs
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/src/state.rs
  testing/lean-tests/Cargo.toml
  testing/lean-tests/tests/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: rebase and fix errors
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: genesis test
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fmt
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove process_attestations_justification_and_finalization
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

lint
  bin/ream/Cargo.toml
Owners: @KolbyML

address review feedback
  Cargo.toml
  crates/rpc/beacon/src/server.rs
  crates/rpc/common/src/server.rs
  crates/rpc/lean/src/server.rs
Owners: @KolbyML, @varun-doshi

modified cli and ServiceMessages to accept proof generation message
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

chore: clean `Makefile`
  Makefile
Owners: @KolbyML

chore: add cargo check
  Makefile
Owners: @KolbyML

feat: Add retry logic for connecting with given ENR in nodes.yaml
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

chore: bump `hash-sig` to `1ed8d82` (#850)
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/src/hashsig/mod.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/scheme.rs
Owners: @KolbyML, @syjn99

feat: ValidatorAttestation and Attestation
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use new containers in the codebase
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
