Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: doc comments
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fmt
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat(lean): add `Validator` Container & add `validators` field in `LeanState` (#843)
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: ump all crate.io crates to latest version
  Cargo.lock
  Cargo.toml
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/misc/src/misc.rs
  crates/common/validator/lean/src/registry.rs
  crates/networking/p2p/src/network/misc.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/storage/src/dir.rs
  crates/storage/src/errors.rs
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/beacon/block_timeliness.rs
  crates/storage/src/tables/beacon/checkpoint_states.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/latest_messages.rs
  crates/storage/src/tables/beacon/parent_root_index.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/slot_index.rs
  crates/storage/src/tables/beacon/state_root_index.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justifications.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/slot_index.rs
  crates/storage/src/tables/lean/state_root_index.rs
  testing/ef-tests/src/utils.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix test
  Cargo.toml
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/networking/discv5/src/discovery.rs
Owners: @KolbyML, @syjn99

feat: bump all crate.io crates to latest version (#853)
  Cargo.lock
  Cargo.toml
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/misc/src/misc.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network/misc.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/storage/src/dir.rs
  crates/storage/src/errors.rs
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/beacon/block_timeliness.rs
  crates/storage/src/tables/beacon/checkpoint_states.rs
  crates/storage/src/tables/beacon/equivocating_indices.rs
  crates/storage/src/tables/beacon/finalized_checkpoint.rs
  crates/storage/src/tables/beacon/genesis_time.rs
  crates/storage/src/tables/beacon/justified_checkpoint.rs
  crates/storage/src/tables/beacon/latest_messages.rs
  crates/storage/src/tables/beacon/parent_root_index.rs
  crates/storage/src/tables/beacon/proposer_boost_root.rs
  crates/storage/src/tables/beacon/slot_index.rs
  crates/storage/src/tables/beacon/state_root_index.rs
  crates/storage/src/tables/beacon/time.rs
  crates/storage/src/tables/beacon/unrealized_finalized_checkpoint.rs
  crates/storage/src/tables/beacon/unrealized_justifications.rs
  crates/storage/src/tables/beacon/unrealized_justified_checkpoint.rs
  crates/storage/src/tables/lean/latest_finalized.rs
  crates/storage/src/tables/lean/latest_justified.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  crates/storage/src/tables/lean/slot_index.rs
  crates/storage/src/tables/lean/state_root_index.rs
  testing/ef-tests/src/utils.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: add ream concensus to sp1 and risk0
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: Metrics endpoint not sending Content-Type header, causing Prometheus scraping errors
  Cargo.lock
  Cargo.toml
  metrics/README.md
  metrics/compose.yml
  metrics/prometheus/prometheus.yaml
Owners: @KolbyML

feat: add ream-concensus-lean to sp1 and risk0 (#858)
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: test with rustflags
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: undo changes and use a custom backend for risc0 and sp1
  .cargo/config.toml
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: newline
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: target all zkvms
  .cargo/config.toml
Owners: @KolbyML

fix: Metrics endpoint not sending Content-Type header, causing Prometheus scraping errors (#859)
  Cargo.lock
  Cargo.toml
  metrics/README.md
  metrics/compose.yml
  metrics/prometheus/prometheus.yaml
Owners: @KolbyML

fix: getrandom target error in risc0 and sp1 workflow (#861)
  .cargo/config.toml
Owners: @KolbyML

feat: add quickstart doc
  book/SUMMARY.md
  book/quickstart.md
Owners: @KolbyML

fix: remove custom options
  book/quickstart.md
Owners: @KolbyML

chore: remove installation and merge with quickstart
  book/SUMMARY.md
  book/installation.md
  book/quickstart.md
Owners: @KolbyML

fix: clippy default for BroadcastValidation
  crates/common/api_types/beacon/src/block.rs
Owners: @KolbyML

fix: add metrics dashboard support
  book/quickstart.md
Owners: @KolbyML

fix: must
  book/quickstart.md
Owners: @KolbyML

fix: remove custom
  book/quickstart.md
Owners: @KolbyML

fix: remove metrics port
  book/quickstart.md
Owners: @KolbyML

fix: clippy error for making Gossip default variant for BroadcastValidation (#863)
  crates/common/api_types/beacon/src/block.rs
Owners: @KolbyML

docs: add quickstart doc to the ream book (#860)
  book/SUMMARY.md
  book/installation.md
  book/quickstart.md
Owners: @KolbyML

fix: docker push and book deploy workflows will always fail on forks
  .github/workflows/book.yml
  .github/workflows/docker-ci.yml
Owners: @KolbyML

fix: docker push and book deploy workflows failing on forks (#865)
  .github/workflows/book.yml
  .github/workflows/docker-ci.yml
Owners: @KolbyML

feat: add test for process_attestations_justification_and_finalization
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: clippy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add process_attestations_justification_and_finalization test to leanState (#866)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: use testing signature scheme for testing
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

fix: clippy
  Cargo.lock
Owners: @KolbyML

feat: use testing signature scheme for testing (#868)
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

feature shadow
  Cargo.lock
  Cargo.toml
  crates/networking/p2p/src/network/misc.rs
Owners: @KolbyML

feat: bump libp2p and allow crates
  Cargo.lock
  Cargo.toml
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: bump libp2p and alloy crates (#871)
  Cargo.lock
  Cargo.toml
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: ValidatorAttestation and Attestation
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use new containers in the codebase
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/fork_choice/src/lean/mod.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/storage/src/tables/lean/latest_known_votes.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: doc comments
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fmt
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
