Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic jist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                               @KolbyML @syjn99
crates/common/consensus/        @KolbyML @Kayden-ML @syjn99 @varun-doshi
crates/common/execution_engine/ @KolbyML @Kayden-ML @syjn99
crates/crypto/                  @KolbyML @syjn99
crates/rpc/                     @KolbyML @varun-doshi
crates/testing/                 @KolbyML @Kayden-ML @syjn99

feat: add time table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/time.rs
Owners: @KolbyML, @syjn99

feat: add equivocating_indices table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/equivocating_indices.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: implement slot and state root index tables
  Cargo.lock
  crates/storage/Cargo.toml
  crates/storage/src/db.rs
  crates/storage/src/tables/beacon_block.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/slot_index.rs
  crates/storage/src/tables/state_root_index.rs
Owners: @KolbyML, @syjn99

fix: apply suggestions
  crates/storage/src/tables/beacon_block.rs
  crates/storage/src/tables/slot_index.rs
Owners: @KolbyML, @syjn99

chore: set CI's which must pass to be merged
  .github/workflows/core-rust.yml
  .github/workflows/optional-rust.yml
  .github/workflows/riscv.yml
Owners: @KolbyML, @syjn99

fix: cargo-udeps ci
  .github/workflows/optional-rust.yml
  book/installation.md
Owners: @KolbyML, @syjn99

feat: implement /eth/v1/beacon/states/{state_id}/validators/{validator_id} endpoint
  Cargo.lock
  bin/ream/src/main.rs
  crates/crypto/bls/src/errors.rs
  crates/crypto/bls/src/pubkey.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/types/errors.rs
  crates/rpc/src/utils/error.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: removed unused and redundant code
  Cargo.lock
  crates/common/consensus/src/polynomial_commitments/constants.rs
  crates/common/consensus/src/polynomial_commitments/mod.rs
  crates/common/consensus/src/polynomial_commitments/polynomial_commitments_handlers.rs
  crates/crypto/bls/src/traits.rs
  crates/crypto/bls/src/zkcrypto/pubkey.rs
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

feat: implementing fork choice functions
  Cargo.lock
  Cargo.toml
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/execution_engine/blob_versioned_hashes.rs
  crates/common/consensus/src/execution_engine/engine_trait.rs
  crates/common/consensus/src/execution_engine/mock_engine.rs
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/common/consensus/src/execution_engine/rpc_types/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/transaction.rs
  crates/common/consensus/src/fork_choice/constants.rs
  crates/common/consensus/src/fork_choice/fork_choice_handlers.rs
  crates/common/consensus/src/fork_choice/helpers/mod.rs
  crates/common/consensus/src/fork_choice/mod.rs
  crates/common/consensus/src/fork_choice/store.rs
  crates/common/consensus/src/helpers.rs
  crates/common/consensus/src/lib.rs
  crates/common/consensus/src/misc.rs
  crates/common/consensus/src/polynomial_commitments/blob.rs
  crates/common/consensus/src/polynomial_commitments/constants.rs
  crates/common/consensus/src/polynomial_commitments/error.rs
  crates/common/consensus/src/polynomial_commitments/kzg_proof.rs
  crates/common/consensus/src/polynomial_commitments/mod.rs
  crates/common/consensus/src/polynomial_commitments/polynomial_commitments_handlers.rs
  crates/common/consensus/src/polynomial_commitments/trusted_setup.rs
  crates/common/consensus/src/polynomial_commitments/trusted_setup.txt
  crates/common/consensus/src/validator.rs
  crates/common/execution_engine/src/lib.rs
  crates/common/execution_engine/src/rpc_types/get_blobs.rs
  crates/common/execution_engine/src/rpc_types/mod.rs
  crates/crypto/bls/src/pubkey.rs
  crates/crypto/bls/src/supranational/pubkey.rs
  crates/crypto/bls/src/traits.rs
  crates/crypto/bls/src/zkcrypto/pubkey.rs
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

fix: fixed fmt
  crates/crypto/bls/src/supranational/pubkey.rs
Owners: @KolbyML, @syjn99

fix: created seperate crate for fork_choice and polynomial_commitments
  Cargo.lock
  Cargo.toml
  crates/common/consensus/src/fork_choice/mod.rs
  crates/common/consensus/src/fork_choice/store.rs
  crates/common/consensus/src/polynomial_commitments/mod.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/fork_choice/fork_choice_handlers.rs
  crates/common/fork_choice/src/fork_choice/mod.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/polynomial_commitments/Cargo.toml
  crates/common/polynomial_commitments/src/lib.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/blob.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/error.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/mod.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/polynomial_commitments_handlers.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/trusted_setup.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/trusted_setup.txt
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

fix: fixed cargo
  crates/crypto/bls/src/supranational/pubkey.rs
  crates/crypto/bls/src/traits.rs
Owners: @KolbyML, @syjn99

fix: fixed most requested changes
  Cargo.lock
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/fork_choice/constants.rs
  crates/common/consensus/src/polynomial_commitments/kzg_proof.rs
  crates/common/fork_choice/src/fork_choice/mod.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/polynomial_commitments/src/error.rs
  crates/common/polynomial_commitments/src/lib.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/blob.rs
  crates/common/polynomial_commitments/src/polynomial_commitments/mod.rs
  crates/common/polynomial_commitments/src/polynomial_commitments_handlers.rs
  crates/common/polynomial_commitments/src/trusted_setup.rs
  crates/common/polynomial_commitments/src/trusted_setup.txt
  crates/crypto/bls/src/pubkey.rs
  crates/crypto/bls/src/supranational/pubkey.rs
  crates/networking/discv5/Cargo.toml
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

fix: fixed all requested changes and removed redundant code
  crates/common/consensus/src/constants.rs
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/common/consensus/src/fork_choice/mod.rs
  crates/common/consensus/src/helpers.rs
  crates/common/consensus/src/lib.rs
  crates/common/consensus/src/misc.rs
  crates/common/consensus/src/validator.rs
  crates/common/fork_choice/src/constants.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/latest_message.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/fork_choice/src/store.rs
  crates/common/polynomial_commitments/src/handlers.rs
  crates/common/polynomial_commitments/src/lib.rs
  crates/crypto/bls/src/supranational/pubkey.rs
  crates/crypto/bls/src/traits.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

fix: fixed requested changes
  crates/common/consensus/src/execution_engine/mock_engine.rs
  crates/common/execution_engine/src/lib.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/store.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

fix: remove crate
  Cargo.lock
  Cargo.toml
  crates/common/consensus/Cargo.toml
  crates/networking/discv5/Cargo.toml
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

fix: fixed last requested change
  crates/common/consensus/src/kzg_commitment.rs
  crates/common/consensus/src/polynomial_commitments/kzg_proof.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/polynomial_commitments/src/handlers.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

fix: added referance
  testing/ef-tests/src/macros/sanity_blocks.rs
Owners: @KolbyML, @syjn99

fix: fixed cargo
  crates/common/consensus/src/fork_choice/latest_message.rs
  crates/common/consensus/src/fork_choice/mod.rs
  crates/common/consensus/src/lib.rs
  crates/common/fork_choice/src/lib.rs
  crates/common/fork_choice/src/store.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

fix: fixed requested changes
  crates/common/consensus/src/execution_engine/blob_versioned_hashes.rs
  crates/common/execution_engine/src/lib.rs
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

feat: streamline error handling
  bin/ream/src/main.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/types/errors.rs
  crates/rpc/src/types/id.rs
  crates/rpc/src/types/mod.rs
  crates/rpc/src/utils/error.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: apply suggestions
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/types/id.rs
  crates/rpc/src/utils/error.rs
Owners: @KolbyML, @varun-doshi

feat: implement on_attester_slashing fork choice function
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

fix: fixed requested changes
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

feat: Implement on_tick fork choice function
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

fix: fixed requested changes
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

feat: implement on_attestation fork choice function
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

fix: updated error comment
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

fix: fixed requested changes
  crates/common/fork_choice/src/handlers.rs
Owners: @KolbyML, @syjn99

fix: validator status logic
  Cargo.lock
  bin/ream/src/main.rs
  crates/crypto/bls/src/pubkey.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/types/id.rs
  crates/rpc/src/utils/error.rs
  crates/storage/src/tables/slot_index.rs
Owners: @KolbyML, @syjn99, @varun-doshi

update network spec with deposit contract
  crates/common/network_spec/src/networks.rs
Owners: @KolbyML, @syjn99

feat: add config route to return deposit contract address
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/config.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/config.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: dual workspace remove
  crates/rpc/Cargo.toml
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

feat: implement states/{state_id}/fork endpoint
  crates/common/fork_choice/src/handlers.rs
  crates/rpc/src/handlers/fork.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @syjn99, @varun-doshi

feat: implement /finality_checkpoints endpoint
  crates/rpc/src/handlers/checkpoint.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implement /randao endpoint
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/randao.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/types/mod.rs
  crates/rpc/src/types/query.rs
Owners: @KolbyML, @varun-doshi

feat: add state endpoint with state_id
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: apply feedback
  crates/common/network_spec/src/networks.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/config.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/config.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: use filter for db
  crates/rpc/src/handlers/randao.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

chore: inline response, impl new fn DepositContract
  crates/common/network_spec/src/networks.rs
  crates/rpc/src/handlers/config.rs
Owners: @KolbyML, @syjn99, @varun-doshi
