Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: add DiscardOnDropHistogramTimer
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
  crates/common/metrics/src/timer.rs
Owners: @KolbyML, @Kayden-ML

feat: add DiscardOnDropHistogramTimer (#939)
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
  crates/common/metrics/src/timer.rs
Owners: @KolbyML, @Kayden-ML

feat: remove get_justifications() helper
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/network_spec/Cargo.toml
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: remove get_justifications() helper (#941)
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/network_spec/Cargo.toml
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: use more direct source-target comparison
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: use more direct source-target comparison (#942)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: use leanSig instead of hashSig
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

feat: Update validator registry to use standardized format like other clients
  Cargo.lock
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/hash-sig-keys/validator_0_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_1_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_2_pk.json
  bin/ream/assets/lean/sample_spec.yml
  bin/ream/assets/lean/validator-config.yaml
  bin/ream/assets/lean/validators.yaml
  bin/ream/assets/test_password.txt
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/quickstart.md
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/registry.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: Update validator registry to use standardized format like other clients (#944)
  Cargo.lock
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/hash-sig-keys/validator_0_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_1_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_2_pk.json
  bin/ream/assets/lean/sample_spec.yml
  bin/ream/assets/lean/validator-config.yaml
  bin/ream/assets/lean/validators.yaml
  bin/ream/assets/test_password.txt
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/quickstart.md
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/registry.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

chore: lock commit version
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

feat: light client optimistic update validation
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: add another ignore condition for optimistic update
  Cargo.lock
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
Owners: @KolbyML

Fix typo in 'consensus' in README.md
  README.md
Owners: @KolbyML

Update installation link in README
  README.md
Owners: @KolbyML

fix: typo in 'consensus' in README (#949)
  README.md
Owners: @KolbyML

fix: installation link in README (#950)
  README.md
Owners: @KolbyML

feat: Remove with_justifications() helper
  book/SUMMARY.md
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Remove with_justifications() helper (#951)
  book/SUMMARY.md
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add lean metrics
  book/quickstart.md
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
  metrics/grafana/dashboards/leanMetrics.json
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add lean metrics (#938)
  book/quickstart.md
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
  metrics/grafana/dashboards/leanMetrics.json
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Remove is_trusted from LeanService fns
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat: update validator-keys-manifest to new format
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/hash-sig-keys/validator_0_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_1_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_2_pk.json
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
Owners: @KolbyML, @syjn99

feat: update validator-keys-manifest to new format (#956)
  bin/ream/assets/lean/hash-sig-keys/validator-keys-manifest.yaml
  bin/ream/assets/lean/hash-sig-keys/validator_0_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_1_pk.json
  bin/ream/assets/lean/hash-sig-keys/validator_2_pk.json
  crates/common/validator/lean/src/registry.rs
  crates/crypto/keystore/src/lean_keystore.rs
Owners: @KolbyML, @syjn99

Support genesis config for devnet 1
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: Support genesis config for devnet 1 (#957)
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

test: Add encode decode ssz tests for SignedBlockWithAttestation and State and SignedAttestation
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

test: Add encode decode ssz tests for SignedBlockWithAttestation and State and SignedAttestation (#959)
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: added CLI documentation update check
  .github/workflows/book-cli-check.yml
Owners: @KolbyML

test
  bin/ream/src/cli/lean_node.rs
Owners: @KolbyML

chore: lock commit version
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

feat: use leanSig instead of hashSig
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

chore: ci fixes
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: use leanSig instead of hashSig (#943)
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

remove redundant step
  .github/workflows/book-cli-check.yml
Owners: @KolbyML

feat: added CLI documentation update check (#961)
  .github/workflows/book-cli-check.yml
Owners: @KolbyML

remove non-needed clone
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

refactor: remove is_trusted from LeanChainService functions (#953)
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fixed the routing
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/mod.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: Add Lean ReqResp Handshake disconnect if peer is on disjoint chain
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/chain/lean/src/slot.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
Owners: @KolbyML

feat: Add Lean ReqResp Handshake disconnect if peer is on disjoint chain (#962)
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/chain/lean/src/slot.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
Owners: @KolbyML
