Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

refactor: use PeerTable type alias for peer_table in Network struct for improved readability
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: correct workspace member name
  Cargo.lock
Owners: @KolbyML

test: add unit test for insert then read functionality in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: switch `/node/peers/{peer_id}` handler to live `Network` source
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

feat: add k256 dependency for ECDSA and arithmetic features in networking
  Cargo.lock
  crates/networking/p2p/Cargo.toml
Owners: @KolbyML

refactor: replace string literals with constants for peer state and direction
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: add upsert_peer method for managing peer state in peer_table
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: add empty_network function for creating a network instance in tests
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: handle peers bad request
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

fix: drop Network extractor
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

feat: add connection state and direction constants for improved network handling
  crates/networking/p2p/src/constants.rs
Owners: @KolbyML

refactor: organize imports by grouping related modules in test module
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: replace ReamDB with Network extractor in get_peer handler
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: use as_str() for state and direction in PeerData conversion for consistency
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

feat: handle connection established events and update peer state in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename ream_p2p dependency to ream-p2p for consistency
  crates/rpc/Cargo.toml
Owners: @KolbyML, @varun-doshi

fix: remove unnecessary comment in upsert_peer method and enhance peer discovery handling
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

fix: remove unnecessary comment in upsert_peer method for clarity
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

test: add unit test for updating existing peer state in network
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: update dependencies and format Cargo files for consistency
  Cargo.lock
  Cargo.toml
Owners: @KolbyML

refactor: improve variable naming for clarity in connection error handling and peer discovery
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename variable for clarity in get_peer function
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: remove unused PeerData struct and simplify response handling in get_peer function
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: improve peer_table data handling in start_server function
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

refactor: enhance enum definitions for ConnectionState and Direction with additional traits for clarity
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename variable for clarity in get_peer function
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: improve variable naming and use pattern matching for clarity in peer table updates
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename variable for clarity in get_peer function
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: update ConnectionState and Direction enums for serialization and clarity
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename variable for clarity and improve consistency in peer handling
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: enhance CachedPeer struct with additional fields for connection state and direction
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: rename test functions and variables for clarity in peer updates
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: improve peer table handling in ManagerService and network module
  bin/ream/src/main.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: simplify state and direction assignment in cached_peer update
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: format k256 dependency for consistency in Cargo.toml
  crates/networking/p2p/Cargo.toml
Owners: @KolbyML

refactor: streamline peer ID handling in get_peer function
  Cargo.toml
  crates/rpc/src/handlers/peers.rs
Owners: @KolbyML, @varun-doshi

refactor: rename network variables for consistency in tests
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

refactor: reorder ream-storage dependency in Cargo.toml for consistency
  crates/rpc/Cargo.toml
Owners: @KolbyML, @varun-doshi

feat: implement get block proposer duties in the beacon node
  crates/common/consensus/src/electra/beacon_state.rs
  crates/rpc/src/handlers/duties.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/routes/validator.rs
  crates/rpc/src/types/response.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: apply suggestions
  Cargo.lock
  Cargo.toml
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi
