Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: fetch validator indicies
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: implement /eth/v1/validator/sync_committee_subscriptions endpoint with tests
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

WIP: Updates to discv5 and RPC handler for validator sync committee
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: chore: resolve merge conflicts and fix missing HashSet import
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: address PR review feedback
  crates/common/beacon_api_types/src/request.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: update p2p networking and rpc crates for eth v1 validator sync committee subscriptions
  Cargo.lock
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: rebase factor fix
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: fixed the check
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: fixed cargo
  crates/networking/manager/src/service.rs
Owners: @KolbyML

fix: squash commits
  crates/common/beacon_api_types/src/block.rs
  crates/common/beacon_api_types/src/lib.rs
  crates/common/consensus/src/electra/blinded_beacon_block.rs
  crates/common/consensus/src/electra/blinded_beacon_block_body.rs
  crates/common/consensus/src/electra/mod.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove functions from impl
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: implement fetch duties for the validator
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: inline errors
  crates/networking/manager/src/service.rs
Owners: @KolbyML

fix: cleaned up Pr
  crates/networking/manager/src/service.rs
Owners: @KolbyML

fix: seperate functions to call for different epochs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added get_light_client_updates
  crates/common/consensus/src/constants.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Initial implementation of ream's account manager
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/account_manager.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/account_manager.md
  book/cli/ream/beacon_node.md
  book/cli/ream/validator_node.md
  crates/account_manager/Cargo.toml
  crates/account_manager/Readme.md
  crates/account_manager/src/lib.rs
Owners: @KolbyML

feat:basic implementation of hashsig
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  crates/account_manager/Cargo.toml
  crates/account_manager/src/lib.rs
Owners: @KolbyML

fix: ReqResp handler crashing when handling outbound connection
  crates/networking/p2p/src/gossipsub/error.rs
  crates/networking/p2p/src/req_resp/error.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
Owners: @KolbyML

feat: Added functionality to generate keys using a seed phrase
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/account_manager.rs
  bin/ream/src/main.rs
  book/cli/ream/account_manager.md
  crates/account_manager/Cargo.toml
  crates/account_manager/src/lib.rs
Owners: @KolbyML

fix: Addressed review comments.
  crates/account_manager/Readme.md
Owners: @KolbyML

fix: address all review comments
  Cargo.lock
  bin/ream/src/cli/account_manager.rs
  bin/ream/src/main.rs
  crates/account_manager/Cargo.toml
  crates/account_manager/src/lib.rs
Owners: @KolbyML

feat: add zkvm feature flag that reduces the list size
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove quoted_u8_var_list from zkvm feature
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Addressed review comments
  Cargo.lock
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: add publish_block and publish_blinded_block
  crates/common/beacon_api_types/src/block.rs
  crates/common/beacon_api_types/src/error.rs
  crates/common/consensus/src/electra/blinded_beacon_block.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: send as ssz bytes
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: improve content-type handling
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove old init
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove unused enum
  crates/common/validator/src/beacon_api_client/http_client.rs
Owners: @KolbyML

fix: improve content type handling for requests
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: improve post function
  crates/common/validator/src/beacon_api_client/http_client.rs
Owners: @KolbyML

feat: add get_block_root and fix a small spelling mistake
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: add `peer_count` api endpoint
  crates/rpc/src/handlers/peers.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

chore: format + remove unused import
  crates/rpc/src/handlers/peers.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

fix: improve content-type handling
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: remove old init
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: add propose block in the validator
  crates/common/validator/src/block.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/randao.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: improve content type handling for requests
  crates/common/validator/src/beacon_api_client/http_client.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
