Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: dedup state handler with header value
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

refactor: make `ContentType` common
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/beacon/src/responses.rs
  crates/common/api_types/common/Cargo.toml
  crates/common/api_types/common/src/content_type.rs
  crates/common/api_types/common/src/lib.rs
  crates/common/validator/beacon/src/beacon_api_client/http_client.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/builder/builder_client.rs
Owners: @KolbyML

ci: remove ci failed messages from riscv.yml
  .github/workflows/riscv.yml
Owners: @KolbyML

ci: remove ci failed messages from riscv.yml (#1150)
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: import
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: add changes for block.rs and store.rs and associated types
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
  crates/storage/Cargo.toml
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/aggregated_payloads.rs
  crates/storage/src/tables/lean/gossip_signatures.rs
  crates/storage/src/tables/lean/mod.rs
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: explicit type
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: add AggregatedSignatureProof
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/tables/lean/aggregated_payloads.rs
Owners: @KolbyML, @Kayden-ML

Update aggregated_payloads.rs
  crates/storage/src/tables/lean/aggregated_payloads.rs
Owners: @KolbyML

feat: use AggregatedSignatureProof as per spec
  Cargo.lock
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
  crates/storage/src/tables/lean/aggregated_payloads.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: use common `ContentType` for branching
  crates/common/api_types/common/src/content_type.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

Update crates/common/api_types/common/src/content_type.rs
  crates/common/api_types/common/src/content_type.rs
Owners: @KolbyML

chore: make clippy happy
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: checkpoint sync APIs (#1149)
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/beacon/src/responses.rs
  crates/common/api_types/common/Cargo.toml
  crates/common/api_types/common/src/content_type.rs
  crates/common/api_types/common/src/lib.rs
  crates/common/validator/beacon/src/beacon_api_client/http_client.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/builder/builder_client.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/health.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
  crates/rpc/lean/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

feat: update process_attestations() and process_block_header() to the latest spec
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cleanup
  Cargo.lock
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/Cargo.toml
  crates/storage/src/tables/lean/aggregated_payloads.rs
  crates/storage/src/tables/lean/gossip_signatures.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: cleanup
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: cleanup
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

implment tests
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement Devnet 2 changes for block and fork choice store (#1147)
  Cargo.lock
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
  crates/storage/Cargo.toml
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/aggregated_payloads.rs
  crates/storage/src/tables/lean/gossip_signatures.rs
  crates/storage/src/tables/lean/mod.rs
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: update process_attestations() and process_block_header() to the latest spec (#1152)
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: run devnet 2 tests on make pr
  Makefile
Owners: @KolbyML

feat: run devnet 2 tests on make pr (#1154)
  Makefile
Owners: @KolbyML

feat(lean): properly handle p2p requests which fail when syncing
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/chain/lean/src/sync/job/mod.rs
  crates/common/chain/lean/src/sync/job/pending.rs
  crates/common/chain/lean/src/sync/mod.rs
  crates/networking/network_state/lean/src/cached_peer.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/req_resp/src/configurations.rs
  crates/networking/req_resp/src/error.rs
  crates/networking/req_resp/src/handler.rs
  crates/networking/req_resp/src/lean/mod.rs
Owners: @KolbyML

feat(lean): properly handle p2p requests which fail when syncing (#1156)
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/common/chain/lean/src/sync/job/mod.rs
  crates/common/chain/lean/src/sync/job/pending.rs
  crates/common/chain/lean/src/sync/mod.rs
  crates/networking/network_state/lean/src/cached_peer.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/req_resp/src/configurations.rs
  crates/networking/req_resp/src/error.rs
  crates/networking/req_resp/src/handler.rs
  crates/networking/req_resp/src/lean/mod.rs
Owners: @KolbyML

tests: enable p2p + finalization tests for devnet 2
  bin/ream/src/main.rs
Owners: @KolbyML

test: enable p2p + finalization tests for devnet 2 (#1157)
  bin/ream/src/main.rs
Owners: @KolbyML

fix: sign only Attestation data for devnet 2
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: devnet 1
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: create tables for AggregatedPayloadsTable and GossipSignaturesTable
  crates/storage/src/db/mod.rs
Owners: @KolbyML

fix: create tables for AggregatedPayloadsTable and GossipSignaturesTable (#1160)
  crates/storage/src/db/mod.rs
Owners: @KolbyML

fix: sign only attestation data for devnet 2 (#1159)
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

fix: devnet 2 self finalization
  crates/common/chain/lean/src/service.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML

feat: final block with aggregated attestation
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: cache blocks if missing parent
  crates/common/chain/lean/src/service.rs
  crates/storage/src/tables/lean/pending_blocks.rs
Owners: @KolbyML

fix: devnet 2 self finalization
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML

fix: process final block after compute_aggregated_signatures
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: cleanupo
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

ease tests
  bin/ream/src/main.rs
Owners: @KolbyML

Revert "ease tests"
  bin/ream/src/main.rs
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
