Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: more logging for consensus debug
  Cargo.lock
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: signature types
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  devnet/devnet-spec.yaml
  devnet/logs/node0.log
  devnet/logs/node1.log
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add Attestation container
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo lock
  Cargo.lock
Owners: @KolbyML

fix: make linters happy
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove mistakenly tracked files
  devnet/.node_pids
  devnet/devnet-spec.yaml
  devnet/logs/node0.log
  devnet/logs/node1.log
  devnet/logs/node2.log
  devnet/logs/node3.log
  devnet/node0/keystore0.json
  devnet/node0/registry.yaml
  devnet/node1/keystore1.json
  devnet/node1/registry.yaml
  devnet/node2/keystore2.json
  devnet/node2/registry.yaml
  devnet/node3/keystore3.json
  devnet/node3/registry.yaml
Owners: @KolbyML

fix: remove more mistaken files
  start_devnet.sh
  stop_devnet.sh
Owners: @KolbyML

fix: make linter happy
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: rename BlockBody::votes to attestations
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: bash script to run lean nodes
  crates/networking/p2p/src/network/lean/mod.rs
  lean_run.sh
Owners: @KolbyML

feat(lean): implement `version` endpoint
  Cargo.lock
  Cargo.toml
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/routes/node.rs
  crates/rpc/common/Cargo.toml
  crates/rpc/common/src/handlers/mod.rs
  crates/rpc/common/src/handlers/version.rs
  crates/rpc/common/src/lib.rs
  crates/rpc/lean/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

feat: add cli command to generate network key
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/cli/generate_network_key.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_network_key.md
Owners: @KolbyML

fix: rename to private_key
  bin/ream/src/cli/generate_network_key.rs
  bin/ream/src/cli/generate_private_key.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_network_key.md
  book/cli/ream/generate_private_key.md
  book/cli/ream/lean_node.md
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fix: raname
  bin/ream/src/cli/mod.rs
  book/cli/ream.md
  book/cli/ream/generate_private_key.md
Owners: @KolbyML

fix: use create_dir_all
  bin/ream/src/main.rs
Owners: @KolbyML

fix: assert is file
  bin/ream/src/main.rs
Owners: @KolbyML

fix: use SignedVote in block.attestations
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: wrap SignedBlock and SignedVote with Arc
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/messages.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove no longer used deps
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/validator/lean/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

doc comment
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use get() instead of raw access
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: return anyhow result with additional context instead of panic
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: B8 to u8
  crates/common/consensus/lean/src/attestation.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: linter
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove most Arc wrapping
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/gossipsub/lean/message.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: align SignedVote with specs
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove explicit typing for justifications_map
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: align get_justifications terms with specs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: inline is_justified
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove unneeded formatting
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: validations refactor
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

fix: align set_justifications with specs
  Cargo.lock
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: rename QueueItem::SignedBlock for consistency
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: align comments with specs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use Default for genesis_block()
  crates/common/chain/lean/src/genesis.rs
Owners: @KolbyML

fix: revert QueueItem::SignedBlock back to QueueItem::Block
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: state_transition should validate result when processing a block
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: wrap QueueItem::SignedVote in a Box
  crates/common/chain/lean/src/queue_item.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: make linter happy
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

fix: validations and comments
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
