Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

make commands
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/main.rs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/execution_engine/src/lib.rs
  crates/common/execution_engine/src/rpc_types/forkchoice_update.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat(api): implement validator/blocks/{slot}
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix ci
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat(discv5): Implement attestation subnet subscription
  Cargo.lock
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

fix: implements review comments
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

feat: implements /eth/v1/node/health
  crates/common/api_types/beacon/src/query.rs
  crates/rpc/beacon/src/handlers/health.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

Ran make pr
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Implemented and modified functions according to specs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Fixed error message
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: removes extra comments
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
Owners: @KolbyML

feat: Implement attestation subnet subscription (#1057)
  Cargo.lock
  crates/networking/discv5/Cargo.toml
  crates/networking/discv5/src/config.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

feat: implements /eth/v1/node/health (#1059)
  crates/common/api_types/beacon/src/query.rs
  crates/rpc/beacon/src/handlers/health.rs
  crates/rpc/beacon/src/handlers/mod.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

feat: Attestations from operation pool beacon endpoints (#1060)
  Cargo.lock
  crates/common/api_types/beacon/src/query.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: add Fulu fork config and fix max_blobs_per_block validation (#1062)
  crates/common/network_spec/src/fork_schedule.rs
  crates/common/network_spec/src/networks/beacon.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML

feat: Implement Devnet 2 containers
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Implements Devnet 2 containers (#1068)
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: resolve imports
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

feat: implements /eth/v2/beacon/blocks
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/routes/beacon.rs
  crates/rpc/beacon/src/server.rs
Owners: @KolbyML, @varun-doshi

fix: fix validation while posting attestations (#1069)
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

feat: implement /eth/v2/beacon/blocks (#1067)
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/routes/beacon.rs
  crates/rpc/beacon/src/server.rs
Owners: @KolbyML, @varun-doshi

feat(api): implement "/eth/v3/validator/blocks/{slot}" (#1064)
  crates/common/consensus/misc/src/constants/beacon.rs
  crates/crypto/bls/src/signature.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/mod.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: endpoint for validator aggregate attestations, wip
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: compute attestation aggregate
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

chore: rebase
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

fix: add Err variable name check in make fmt
  Makefile
Owners: @KolbyML

feat: endpoint for validator aggregate attestations (#1058)
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

fix: fix to pass fmt ci
  crates/common/polynomial_commitments/src/trusted_setup.rs
  crates/common/validator/beacon/src/validator.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: gossipsub validate and forward aggregate_and_proof
  crates/common/validator/beacon/src/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: implement signature aggregation with lean multisig
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
  crates/crypto/post_quantum/src/lean_multisig/errors.rs
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lean_multisig/signature.rs
Owners: @KolbyML, @syjn99

feat: add state transition tests
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: update fork choice to use column sidecars
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add sync committee pool to manage sync committee messages and contributions. get /eth/v1/validator/sync_committee_contribution endpoint
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/sync_committee_pool/Cargo.toml
  crates/common/sync_committee_pool/src/lib.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: add [lints] to sync_committee_pool Cargo.toml
  crates/common/sync_committee_pool/Cargo.toml
Owners: @KolbyML

check blob commitments
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/store.rs
Owners: @KolbyML, @Kayden-ML

fmt
  crates/common/fork_choice/beacon/src/handlers.rs
Owners: @KolbyML, @Kayden-ML

fix: change to try_init
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

docs: clarify parent block validation for data column sidecar
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML

feat: update fork choice to use column sidecars (#1063)
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/polynomial_commitments/src/handlers.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: add Err variable name check in make fmt (#1073)
  Makefile
  crates/common/polynomial_commitments/src/trusted_setup.rs
  crates/common/validator/beacon/src/validator.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: gossipsub validate and forward aggregate_and_proof (#1076)
  crates/common/validator/beacon/src/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
