Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: implement /eth/v2/beacon/blinded_blocks
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implement /eth/v2/beacon/blinded_blocks (#1077)
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implement signature aggregation with lean multisig (#1078)
  Cargo.lock
  Cargo.toml
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/lean_multisig/aggregate.rs
  crates/crypto/post_quantum/src/lean_multisig/errors.rs
  crates/crypto/post_quantum/src/lean_multisig/mod.rs
  crates/crypto/post_quantum/src/lean_multisig/private_key.rs
  crates/crypto/post_quantum/src/lean_multisig/public_key.rs
  crates/crypto/post_quantum/src/lean_multisig/signature.rs
Owners: @KolbyML, @syjn99

feat: add state transition spec tests (#1079)
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

docs: clarify parent block validation for data column sidecar (#1080)
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
Owners: @KolbyML

implemented sync_aggregate into operationPool
  crates/common/events/beacon/src/contribution_and_proof.rs
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

implemented deposit into operationPool
  crates/common/consensus/misc/src/deposit.rs
  crates/common/consensus/misc/src/deposit_data.rs
  crates/common/events/beacon/src/contribution_and_proof.rs
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

integrated fields from operationPool in produceBlockV3 api
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix clippy
  crates/common/events/beacon/src/contribution_and_proof.rs
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

implement subscription logic to beacon-committee-subscriptions
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

ran make commands
  crates/networking/p2p/src/network/beacon/mod.rs
Owners: @KolbyML

feat(lean): Update Block Production
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: config to prune blobs in x epochs
  bin/ream/src/cli/beacon_node.rs
  book/cli/ream/beacon_node.md
  crates/common/fork_choice/beacon/src/store.rs
  crates/networking/manager/src/config.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/tables/beacon/blobs_and_proofs.rs
Owners: @KolbyML, @Kayden-ML

chore: clippy fixes
  book/cli/ream/beacon_node.md
  crates/crypto/keystore/src/salsa.rs
Owners: @KolbyML, @syjn99

fix: take block root reference
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement `deposit` and `sync_aggregate` in `OperationPool` (#1081)
  crates/common/consensus/misc/src/deposit.rs
  crates/common/consensus/misc/src/deposit_data.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement subscription logic in `/eth/v1/validator/beacon_committee_subscripitons` (#1084)
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: config to prune blobs in x epochs (#1086)
  bin/ream/src/cli/beacon_node.rs
  book/cli/ream/beacon_node.md
  crates/common/fork_choice/beacon/src/store.rs
  crates/crypto/keystore/src/salsa.rs
  crates/networking/manager/src/config.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/tables/beacon/blobs_and_proofs.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat(metrics): Add peer metrics for Lean
  Cargo.lock
  crates/common/metrics/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat(metrics): Add peer metrics for Lean (#1087)
  Cargo.lock
  crates/common/metrics/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fix: move build to store
  Cargo.lock
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/Cargo.toml
  crates/storage/src/db/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: rm block root function
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML

initial push
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

check that validator is in the committee
  crates/common/consensus/beacon/src/sync_committee.rs
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

implement /eth/v2/beacon/pool/sync_committees
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

improve error handling
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

ran make commands
  crates/common/consensus/beacon/src/sync_committee.rs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix the api domain from v2 to v1
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

feat(api): implement `/eth/v1/beacon/pool/sync_committees` (#1088)
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: implements correct subnet_ids for corresponding gossip topics
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
Owners: @KolbyML

Clean up structure
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/db/lean.rs
Owners: @KolbyML, @Kayden-ML

feat(lean): Update Block Production (#1085)
  Cargo.lock
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/Cargo.toml
Owners: @KolbyML, @Kayden-ML

feat: implements correct subnet_ids for corresponding gossip topics (#1089)
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/beacon/topics.rs
Owners: @KolbyML

feat: Implement signature aggregator precursor
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: implements caching for block and state
  bin/ream/src/main.rs
  crates/storage/src/cache.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

chore: split into beacon cache db and lean cache db
  bin/ream/src/main.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/server.rs
  crates/storage/src/cache.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

feat: implements /eth/v1/validator/sync_committee_subscriptions
  crates/common/api_types/beacon/src/committee.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

add constants
  crates/common/consensus/misc/src/constants/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

compute matrix fn done
  Cargo.lock
  Cargo.toml
  crates/common/consensus/beacon/Cargo.toml
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

recover matrix fn done
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
