Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: make pr
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: make pr
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: make PR
  Cargo.lock
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: default to json
  crates/common/api_types/common/src/content_type.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: ci
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

fix: test
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/state.rs
Owners: @KolbyML, @varun-doshi

feat: add justified checkpoint api for checkpoint sync (#1182)
  Cargo.lock
  crates/common/api_types/common/src/error.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/checkpoint.rs
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/rpc/lean/src/routes/lean.rs
Owners: @KolbyML, @varun-doshi

feat: add end of stream message at after blockbyroots response and fix choose_weighted
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/req_resp/src/handler.rs
Owners: @KolbyML

fix: no callback on internal status requests can be safely ignored
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: add end of stream message at after responses in req/resp (#1183)
  crates/common/chain/lean/src/p2p_request.rs
  crates/common/chain/lean/src/service.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/req_resp/src/handler.rs
Owners: @KolbyML

feat: print feature flags used on startup, so users know which devnet is running
  bin/ream/build.rs
  bin/ream/src/startup_message.rs
Owners: @KolbyML

feat: print feature flags used on startup, so users know which devnet is running (#1184)
  bin/ream/build.rs
  bin/ream/src/startup_message.rs
Owners: @KolbyML

chore: remove outdated specification links
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/genesis.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: use one single `is_justifiable_after`
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/slot.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: use `all_unique` to be more declaritive
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: use macro for logging skipped attestations
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: remove outdated comments
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

chore: remove runtime that was supposed to be zkVM runtime
  Cargo.lock
  Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime/README.md
  crates/runtime/src/lib.rs
Owners: @KolbyML

chore: drop holesky support
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/cli/validator_node.rs
  bin/ream/src/cli/voluntary_exit.rs
  book/cli/ream/beacon_node.md
  book/cli/ream/validator_node.md
  book/cli/ream/voluntary_exit.md
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/beacon/src/checkpoint.rs
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/beacon.rs
  crates/networking/p2p/resources/bootnodes_holesky.yaml
  crates/networking/p2p/src/bootnodes.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

chore: drop holesky support (#1189)
  bin/ream/src/cli/beacon_node.rs
  bin/ream/src/cli/validator_node.rs
  bin/ream/src/cli/voluntary_exit.rs
  book/cli/ream/beacon_node.md
  book/cli/ream/validator_node.md
  book/cli/ream/voluntary_exit.md
  crates/common/checkpoint_sync/beacon/resources/checkpoint_sync_sources/holesky.yaml
  crates/common/checkpoint_sync/beacon/src/checkpoint.rs
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/beacon.rs
  crates/networking/p2p/resources/bootnodes_holesky.yaml
  crates/networking/p2p/src/bootnodes.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

refactor: use `all_unique` to be more declaritive (#1186)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: dedup `is_justifiable_{slot|after}` (#1185)
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/slot.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/utils.rs
  crates/common/fork_choice/lean/src/genesis.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Implement second half of Beacon Chain stuff for Fulu
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/misc/src/blob_parameters.rs
  crates/common/consensus/misc/src/constants/beacon.rs
  crates/common/consensus/misc/src/fork_data.rs
  crates/common/consensus/misc/src/lib.rs
  crates/common/network_spec/src/networks/beacon.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/req_resp/src/inbound_protocol.rs
  crates/networking/req_resp/src/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Implement second half of Beacon Chain stuff for Fulu (#1190)
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/misc/src/blob_parameters.rs
  crates/common/consensus/misc/src/constants/beacon.rs
  crates/common/consensus/misc/src/fork_data.rs
  crates/common/consensus/misc/src/lib.rs
  crates/common/network_spec/src/networks/beacon.rs
  crates/networking/discv5/src/eth2.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/beacon/message.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/req_resp/src/inbound_protocol.rs
  crates/networking/req_resp/src/outbound_protocol.rs
  crates/rpc/beacon/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Fixed kzg inclusion proof test
  bin/ream/src/main.rs
  crates/common/consensus/beacon/src/electra/beacon_block.rs
  crates/common/consensus/beacon/src/electra/beacon_block_body.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: small fixes to match the parent repo
  bin/ream/src/main.rs
Owners: @KolbyML

refactor: ran make pr
  crates/common/consensus/beacon/src/electra/beacon_block_body.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fixed up inclusion proof ef-test
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: Implement ef peerdas test macro
  Cargo.lock
  crates/common/consensus/beacon/src/matrix_entry.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/Makefile
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/src/macros/peerdas.rs
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99
