Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: Update prepare_beacon_proposer to use Arc<OperationPool> for thread safety
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

refactor: Refactor imports and improve formatting in prepare_beacon_proposer handler
  crates/common/operation_pool/src/lib.rs
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

chore: add node/identity endpoint
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/req_resp/messages/meta_data.rs
  crates/rpc/src/handlers/identity.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

fix: Update endpoint URI for prepare_beacon_proposer to remove version prefix
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

refactor: Rename variable 'req' to 'request' for clarity in tests
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

refactor: Simplify assertion in test_prepare_beacon_proposer_stores_data
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

feat: only query peers on the same network, increases connected rate 6x
  crates/networking/discv5/src/discovery.rs
Owners: @KolbyML

chore: make pull request template more clear
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @KolbyML

refactor: Improve formatting of assertion in test_prepare_beacon_proposer_stores_data
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

feat(sync-committee): implement /eth/v1/validator/sync_committee_subscriptions endpoint
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: expose local node info
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/node.rs
  crates/networking/p2p/src/req_resp/messages/meta_data.rs
Owners: @KolbyML

chore: add node/identity endpoint
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/req_resp/messages/meta_data.rs
  crates/rpc/src/handlers/identity.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

fix: refactor
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/config.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/node.rs
Owners: @KolbyML

fix: update enr
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/src/handlers/identity.rs
Owners: @KolbyML, @varun-doshi

fix: refactor to use swarm event
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/src/handlers/identity.rs
Owners: @KolbyML, @varun-doshi

fix: nits
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: forward and validate beacon block
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/gossipsub/error.rs
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/gossipsub/validation.rs
  crates/networking/p2p/src/network.rs
  crates/storage/src/db.rs
Owners: @KolbyML

fix: remove unwrap
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: verbose logging
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  crates/networking/manager/src/service.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: use global latest slot
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
Owners: @KolbyML

fix: apply suggestions
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/lib.rs
  crates/networking/manager/src/validate.rs
Owners: @KolbyML, @Kayden-ML

fix: refactor + use lru
  Cargo.lock
  Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/mod.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  crates/networking/manager/src/lib.rs
  crates/networking/manager/src/service.rs
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
  crates/storage/src/db.rs
  crates/storage/src/lib.rs
Owners: @KolbyML, @Kayden-ML

chore: apply beacon block validations
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML, @Kayden-ML

fix: phase0 beacon block validation
  Cargo.lock
  crates/common/beacon_chain/Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/mod.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/gossipsub/validation.rs
  crates/storage/src/db.rs
Owners: @KolbyML, @Kayden-ML

fix: add missing checks
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/utils.rs
Owners: @KolbyML

fix: handle error case
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
Owners: @KolbyML

fix: add parent block checks
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/utils.rs
Owners: @KolbyML

fix: fix nits
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/storage/src/db.rs
Owners: @KolbyML

fix: make clippy happy
  crates/rpc/src/handlers/identity.rs
Owners: @KolbyML, @varun-doshi

address reviewer feedback
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix cl
  crates/rpc/src/handlers/identity.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fix: handle possible deadlock
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/mod.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML

chore: remove SECONDS_PER_SLOT and replace it with network_spec().seconds_per_slot
  Cargo.lock
  Cargo.toml
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/constants.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/handlers.rs
  crates/common/fork_choice/src/store.rs
  crates/common/network_spec/src/fork_schedule.rs
  crates/common/network_spec/src/networks.rs
  crates/common/spec_utils/Cargo.toml
  crates/common/spec_utils/src/fork.rs
  crates/common/spec_utils/src/fork_data.rs
  crates/common/spec_utils/src/lib.rs
  crates/common/spec_utils/src/misc.rs
  crates/networking/p2p/src/gossipsub/configurations.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML

feat: add forward syncer
  Cargo.lock
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/common/consensus/src/blob_sidecar.rs
  crates/common/consensus/src/electra/beacon_block.rs
  crates/common/consensus/src/electra/beacon_block_body.rs
  crates/common/consensus/src/electra/execution_payload.rs
  crates/common/consensus/src/eth_1_data.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/common/consensus/src/execution_requests.rs
  crates/common/consensus/src/sync_aggregate.rs
  crates/common/executor/Cargo.toml
  crates/common/executor/src/lib.rs
  crates/common/fork_choice/src/handlers.rs
  crates/common/network_spec/src/networks.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/messages/beacon_blocks.rs
  crates/networking/p2p/src/req_resp/messages/blob_sidecars.rs
  crates/networking/syncer/Cargo.toml
  crates/networking/syncer/src/block_range/block_cache.rs
  crates/networking/syncer/src/block_range/mod.rs
  crates/networking/syncer/src/block_range/peer_manager.rs
  crates/networking/syncer/src/block_range/peer_range_downloader.rs
  crates/rpc/src/handlers/identity.rs
  crates/storage/src/tables/blobs_and_proofs.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: implement /eth/v1/validator/liveness/{epoch} endpoint
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: gossip validation scafolding
  Cargo.lock
  Cargo.toml
  crates/common/beacon_chain/Cargo.toml
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/mod.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/gossipsub/error.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/network.rs
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
  crates/storage/src/db.rs
  crates/storage/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: wrong index was used in process_attestation
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add beacon gossip validation
  Cargo.lock
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.json
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: add test for gossip block
  Cargo.lock
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: CI
  testing/beacon-api/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99
