Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: return ssz based on request header
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: added fn for blinded block, addressed pr comments
  crates/common/consensus/src/electra/beacon_block.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: rebase
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: review comments
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
Owners: @KolbyML

fix: resolve comments
  crates/common/consensus/src/electra/beacon_block.rs
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: fmt
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

chore: http request param
  crates/rpc/src/handlers/block.rs
Owners: @KolbyML, @varun-doshi

fix: implemented the positive test
  crates/common/consensus/src/blob_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: move debug endpoints into separate file
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/debug.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/debug.rs
Owners: @KolbyML, @varun-doshi

feat: add ForkChoiceResponse and skeleton code for RPC
  crates/common/beacon_api_types/src/responses.rs
  crates/rpc/src/handlers/debug.rs
  crates/rpc/src/routes/debug.rs
  crates/rpc/src/routes/mod.rs
Owners: @KolbyML, @varun-doshi

feat: implement get_fork_choice except for justified/finalized epoch of each nodes
  crates/rpc/src/handlers/debug.rs
Owners: @KolbyML, @varun-doshi

chore: rename handlers
  crates/rpc/src/handlers/debug.rs
  crates/rpc/src/routes/debug.rs
Owners: @KolbyML, @varun-doshi

feat: implement get_fork_choice with justified/finalized epoch of each node
  crates/common/fork_choice/src/store.rs
  crates/rpc/src/handlers/debug.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: refactor + use lru
  Cargo.lock
  Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/mod.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  crates/networking/manager/src/lib.rs
  crates/networking/manager/src/service.rs
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
  crates/storage/src/db.rs
  crates/storage/src/lib.rs
Owners: @KolbyML, @Kayden-ML

fix: remove unwrap
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
Owners: @KolbyML

resolve fixes
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

apply make pr
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: fixed test and code
  Cargo.lock
  crates/common/checkpoint_sync/Cargo.toml
  crates/common/consensus/Cargo.toml
  crates/common/consensus/assests/blob_sidecar.ssz_snappy
  crates/common/consensus/src/blob_sidecar.rs
  crates/common/consensus/src/constants.rs
  crates/crypto/merkle/src/lib.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

fix: removed redundant code
  crates/common/consensus/src/blob_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fixed file name
  crates/common/consensus/assets/blob_sidecar.ssz_snappy
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: expose local node info
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/node.rs
  crates/networking/p2p/src/req_resp/messages/meta_data.rs
Owners: @KolbyML

fix: verbose logging
  crates/networking/manager/src/gossipsub/handle_gossipsub.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  crates/networking/manager/src/service.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: use global latest slot
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
Owners: @KolbyML

fix: refactor
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/config.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/node.rs
Owners: @KolbyML

feat: implement /eth/v1/validator/sync_committee_subscriptions endpoint with tests
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

WIP: Updates to discv5 and RPC handler for validator sync committee
  crates/networking/discv5/src/discovery.rs
  crates/networking/discv5/src/subnet.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: address PR review feedback
  crates/common/beacon_api_types/src/request.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: update p2p networking and rpc crates for eth v1 validator sync committee subscriptions
  Cargo.lock
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
Owners: @KolbyML, @varun-doshi

chore: chore: resolve merge conflicts and fix missing HashSet import
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

chore: rebase factor fix
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

Addressed review comments
  Cargo.lock
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: address review issues
  Cargo.lock
  crates/common/beacon_api_types/src/request.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/src/handlers/validator.rs
  crates/rpc/src/lib.rs
Owners: @KolbyML, @varun-doshi

chore: address review comment
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

chore service.rs review
  crates/networking/manager/src/service.rs
Owners: @KolbyML

chore: address review on request.rs
  crates/common/beacon_api_types/src/request.rs
Owners: @KolbyML

chore address service.rs
  crates/networking/manager/src/service.rs
Owners: @KolbyML

chore: address enr review comment
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

chore: address review comments
  crates/common/beacon_api_types/src/request.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/manager/src/service.rs
  crates/rpc/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

chore: updated commit
  crates/networking/manager/src/service.rs
Owners: @KolbyML

feat: Add prepare_beacon_proposer handler and integrate into validator routes
  crates/common/beacon_api_types/src/request.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
