Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix clippy
  Cargo.toml
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

add custody group functions
  Cargo.lock
  crates/common/consensus/beacon/Cargo.toml
  crates/common/consensus/beacon/src/custody_group.rs
  crates/common/consensus/beacon/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix clippy
  crates/common/consensus/beacon/src/custody_group.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix function name
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

remove extra lines
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

add get_data_column_sidecars
  crates/common/consensus/beacon/src/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix fn name to match functioning
  crates/common/consensus/beacon/src/custody_group.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implements caching for block and state (#1090)
  bin/ream/src/main.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/aggregate_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/data_column_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/light_client_finality_update.rs
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/server.rs
  crates/storage/src/cache.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/db/mod.rs
  crates/storage/src/tables/beacon/beacon_block.rs
  crates/storage/src/tables/beacon/beacon_state.rs
  crates/storage/src/tables/lean/lean_block.rs
  crates/storage/src/tables/lean/lean_state.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

feat: implements /eth/v1/validator/sync_committee_subscriptions (#1093)
  crates/common/api_types/beacon/src/committee.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

feat: Implement signature aggregator precursor (#1091)
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/checkpoint.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix error type
  crates/common/consensus/beacon/src/data_column_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: remove --devnet flag and use feature flags instead
  bin/ream/Cargo.toml
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

update book
  book/cli/ream/lean_node.md
Owners: @KolbyML

feat: remove --devnet flag and use feature flags instead (#1099)
  bin/ream/Cargo.toml
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  book/cli/ream/lean_node.md
  crates/common/network_spec/src/cli.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

fix(build): resolve feature flag conflicts for devnet2 compilation
  Cargo.toml
  bin/ream/Cargo.toml
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/validator/lean/Cargo.toml
  crates/networking/network_state/lean/Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/lib.rs
  crates/rpc/lean/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: fix sort and fmt
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/lib.rs
  crates/rpc/lean/Cargo.toml
  testing/ef-tests/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: resolve feature flag conflicts for devnet2 compilation (#1100)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lib.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/validator/lean/Cargo.toml
  crates/networking/network_state/lean/Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/lib.rs
  crates/rpc/lean/Cargo.toml
  testing/ef-tests/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: runs devnet 2 in tests for ci and make
  .github/workflows/core-rust.yml
  Makefile
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-spec-tests/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

add countdown log till genesis
  bin/ream/src/main.rs
Owners: @KolbyML

feat: runs devnet 2 in tests for ci and make (#1101)
  .github/workflows/core-rust.yml
  Makefile
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  testing/lean-spec-tests/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

Handle exception intentionally and safely
  bin/ream/src/main.rs
Owners: @KolbyML

genesis countdown logic made cleaner
  bin/ream/src/main.rs
Owners: @KolbyML

cargo fmt fix
  bin/ream/src/main.rs
Owners: @KolbyML

fixes
  crates/common/consensus/beacon/src/custody_group.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add countdown log till genesis (#1104)
  bin/ream/src/main.rs
Owners: @KolbyML

feat(lean): prune state older than 128 slots
  crates/common/chain/lean/src/service.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

Update service.rs
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat(lean): prune state older than 128 slots (#1116)
  crates/common/chain/lean/src/service.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat(lean): print database storage stats once a minute
  crates/common/chain/lean/src/service.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML

feat(lean): print database storage stats once a minute (#1118)
  crates/common/chain/lean/src/service.rs
  crates/storage/src/db/lean.rs
  crates/storage/src/tables/lean/lean_block.rs
Owners: @KolbyML

feat: switch Publish block failed Duplicate log from warn to trace
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: switch Publish block failed Duplicate log from warn to trace (#1119)
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

requested changes done
  crates/common/consensus/beacon/src/custody_group.rs
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: snap encode all type for database values
  crates/storage/src/tables/ssz_encoder.rs
  crates/storage/src/tables/table.rs
Owners: @KolbyML

feat: snap encode all types for database values (#1120)
  crates/storage/src/tables/ssz_encoder.rs
  crates/storage/src/tables/table.rs
Owners: @KolbyML

used ensure!
  crates/common/consensus/beacon/src/custody_group.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add sync committee pool to manage sync committee messages and contributions. get /eth/v1/validator/sync_committee_contribution endpoint
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/sync_committee_pool/Cargo.toml
  crates/common/sync_committee_pool/src/lib.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: add [lints] to sync_committee_pool Cargo.toml
  crates/common/sync_committee_pool/Cargo.toml
Owners: @KolbyML

feat: add sync committee pool & initialize GET /eth/v1/validator/sync_committee_contribution endpoint (#880)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/sync_committee_pool/Cargo.toml
  crates/common/sync_committee_pool/src/lib.rs
  crates/common/validator/beacon/src/contribution_and_proof.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: implement das-core (#1094)
  Cargo.lock
  Cargo.toml
  crates/common/consensus/beacon/Cargo.toml
  crates/common/consensus/beacon/src/custody_group.rs
  crates/common/consensus/beacon/src/data_column_sidecar.rs
  crates/common/consensus/beacon/src/lib.rs
  crates/common/consensus/beacon/src/matrix_entry.rs
  crates/common/consensus/misc/src/constants/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
