Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

fix: suggestions
  Cargo.lock
  bin/ream/src/cli/mod.rs
  crates/common/network_spec/Cargo.toml
  crates/rpc/src/config.rs
  crates/rpc/src/handlers/genesis.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: nits
  crates/common/consensus/src/genesis.rs
  crates/rpc/src/handlers/genesis.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

fix(rpc): forgot "data": T for genesis rpc
  crates/rpc/src/handlers/genesis.rs
  crates/rpc/src/handlers/mod.rs
Owners: @KolbyML, @varun-doshi

feat: add ream version info
  Cargo.lock
  Cargo.toml
  crates/common/node/Cargo.toml
  crates/common/node/build.rs
  crates/common/node/src/lib.rs
  crates/common/node/src/version.rs
Owners: @KolbyML, @syjn99

fix: add version to cli
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/cli/mod.rs
Owners: @KolbyML, @syjn99

fix: const used for cli version
  bin/ream/src/cli/mod.rs
Owners: @KolbyML, @syjn99

chore: Addressed review comments
  Dockerfile
  Dockerfile.cross
  Makefile
  book/installation.md
  rustfmt.toml
Owners: @KolbyML, @syjn99

chore: Addressed review comment
  .dockerignore
Owners: @KolbyML, @syjn99

chore!: removed nightly from Makefile as the toolchain has changed.
  Cargo.toml
  Makefile
Owners: @KolbyML, @syjn99

feat: add /node/version endpoint
  Cargo.lock
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/version.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @syjn99, @varun-doshi

chore: Fixed lint issues
  Cargo.lock
  Makefile
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

chore: Fixed linting comment
  Cargo.lock
  Cargo.toml
  crates/common/consensus/src/deneb/beacon_state.rs
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

feat: add bootnodes cli param
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/networking/p2p/src/bootnodes.rs
Owners: @KolbyML, @syjn99

chore: Fixed lint issue
  crates/common/consensus/src/deneb/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

chore!: removed tomlfmt.toml
  tomlfmt.toml
Owners: @KolbyML, @syjn99

feat: add p2p arguments to cli
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/networking/discv5/src/config.rs
  crates/networking/p2p/src/network.rs
  rustfmt.toml
Owners: @KolbyML, @syjn99

ci: add CI which runs cargo sort --check
  .github/workflows/rust.yml
  Makefile
Owners: @KolbyML, @syjn99

Add installation and changelog pages to book navigation
  book/SUMMARY.md
Owners: @KolbyML, @syjn99

chore: add cargo-udeps, remove unused deps
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  Makefile
  book/installation.md
  crates/common/execution_engine/Cargo.toml
  crates/common/network_spec/Cargo.toml
  crates/networking/discv5/Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/rpc/Cargo.toml
  crates/storage/Cargo.toml
  testing/ef-tests/Cargo.toml
Owners: @KolbyML, @syjn99, @Kayden-ML, @varun-doshi

chore: add book ci lint and auto generated cli page
  .github/actions/install-mdbook/action.yml
  .github/workflows/book.yml
  Cargo.toml
  Dockerfile
  Makefile
  book.toml
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/cli.md
  book/cli/help.rs
  book/cli/ream.md
  book/cli/ream/node.md
  book/cli/update.sh
Owners: @KolbyML, @syjn99

fix: cargo udeps ci
  .github/workflows/rust.yml
Owners: @KolbyML, @syjn99

fix: lint
  book/Changelog.md
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/help.rs
Owners: @KolbyML, @syjn99

fix: f
  .github/workflows/book.yml
Owners: @KolbyML, @syjn99

feat: implement /node/identity enpoint
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/network_spec/Cargo.toml
  crates/common/network_spec/src/identity.rs
  crates/common/network_spec/src/lib.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/identity.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/mod.rs
  crates/rpc/src/routes/node.rs
Owners: @KolbyML, @syjn99, @varun-doshi

fix: lint
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/network_spec/Cargo.toml
  crates/networking/p2p/src/network.rs
  crates/rpc/Cargo.toml
Owners: @KolbyML, @syjn99, @varun-doshi

feat: updated beacon state table to use block_root instead of slot number
  Cargo.lock
  crates/storage/Cargo.toml
  crates/storage/src/tables/beacon_state.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

fix: ran ffmt and cargo
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: added beacon block table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/beacon_block.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: add database table for checkpoint_states
  crates/common/consensus/src/checkpoint.rs
  crates/storage/src/db.rs
  crates/storage/src/tables/checkpoint_states.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @Kayden-ML, @syjn99, @varun-doshi

feat: add latest_messages table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/latest_messages.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: feat: add unrealized_justifications table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/unrealized_justifications.rs
Owners: @KolbyML, @syjn99

feat: add database table for block_timeliness
  crates/storage/src/db.rs
  crates/storage/src/tables/block_timeliness.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: add proposer_boost_root table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/proposer_boost_root.rs
Owners: @KolbyML, @syjn99

feat: add unrealized_finalized_checkpoint table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/unrealized_finalized_checkpoint.rs
Owners: @KolbyML, @syjn99

feat: add unrealized_justified_checkpoint table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/unrealized_justified_checkpoint.rs
Owners: @KolbyML, @syjn99

fix: fmt and cargo
  crates/storage/src/db.rs
Owners: @KolbyML, @syjn99

feat: add finalized_checkpoint table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/finalized_checkpoint.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: add justified_checkpoint table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/justified_checkpoint.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

feat: add genesis_time table to the database
  crates/storage/src/db.rs
  crates/storage/src/tables/genesis_time.rs
  crates/storage/src/tables/mod.rs
Owners: @KolbyML, @syjn99

fix: remove unneed szzencoding
  crates/storage/src/tables/genesis_time.rs
Owners: @KolbyML, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic jist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                               @KolbyML @syjn99
crates/common/consensus/        @KolbyML @Kayden-ML @syjn99 @varun-doshi
crates/common/execution_engine/ @KolbyML @Kayden-ML @syjn99
crates/crypto/                  @KolbyML @syjn99
crates/rpc/                     @KolbyML @varun-doshi
crates/testing/                 @KolbyML @Kayden-ML @syjn99
