Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: tracing::info! instead of println!
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

chore: doc comments
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make pr suggestions
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: replace compute_hash() with TreeHash
  Cargo.lock
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/Cargo.toml
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: make pr
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement flat justifications
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/networking/p2p/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: formatting
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: replace compute_hash() with tree_hash_root() for LeanState
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: add comments from Python impl
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove unused deps
  crates/networking/manager/Cargo.toml
Owners: @KolbyML

fix: Staker sequence
  Cargo.lock
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

feat: disconnect peer if disconnected from swarm
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/network/beacon.rs
  crates/networking/p2p/src/network_state.rs
Owners: @KolbyML

feat: only insert peers into peers_to_ping after they are connected
  crates/networking/p2p/src/network/beacon.rs
Owners: @KolbyML

refactor: restructure chain crates
  Cargo.lock
  Cargo.toml
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/beacon/src/lib.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/manager/src/service.rs
  crates/networking/syncer/Cargo.toml
  crates/networking/syncer/src/block_range/mod.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: better upsert
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: replace compute_hash() with tree_hash_root() for LeanState
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: Staker sequence
  Cargo.lock
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

fix: make pr
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

Simplify justifications init
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: tracing::info! instead of println!
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

refactor: one less clone()
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

fix: Staker instantiation
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: type comparison
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: bring back Config and use U4096 for both max blocks and validators
  crates/common/consensus/lean/src/config.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: doc comments
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: more linting
  Cargo.lock
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: mis-implementation of latest_votes
  crates/common/consensus/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: replace let _ with expect()
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: formatting
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: initial code for 3SF
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: use B256 directly
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: replace compute_hash() with TreeHash
  Cargo.lock
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/Cargo.toml
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

docs: add comments from Python impl
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: clippy and fmt suggestions
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/staker.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/vote.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo udeps
  bin/ream/Cargo.toml
Owners: @KolbyML

fix: Use U1073741824 for justifications and integers when typenum is not necessary
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement flat justifications
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/networking/p2p/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remove clones
  crates/common/lean_chain/src/staker.rs
Owners: @KolbyML

fix: remove unused deps
  crates/networking/manager/Cargo.toml
Owners: @KolbyML

feat: move Staker from common/consensus/lean to common/lean_chain
  Cargo.lock
  Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/lean_chain/Cargo.toml
  crates/common/lean_chain/src/lib.rs
  crates/common/lean_chain/src/staker.rs
  crates/networking/manager/Cargo.toml
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
