Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

code structure changes
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
Owners: @KolbyML, @varun-doshi

WIP: implement api/aggregate_and_proofs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

implemented a rough fn for api/aggregate_and_proofs
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

fixes for ci checks
  Cargo.toml
Owners: @KolbyML

fixes
  git
Owners: @KolbyML

refactor: update error log with better log
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

refactor: update error log with better log (#965)
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fix: code was panicking with the error
  crates/common/chain/lean/src/slot.rs
Owners: @KolbyML

fix: code was panicking with the error (#966)
  crates/common/chain/lean/src/slot.rs
Owners: @KolbyML

feat: add break in walk back
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: clippy
  crates/rpc/beacon/src/handlers/validator.rs
Owners: @KolbyML, @varun-doshi

feat: add break in get_attestation_target walk back (#968)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: rename get_fork_choice_head to compute_lmd_ghost_head
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: rename get_fork_choice_head to compute_lmd_ghost_head (#969)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

fix: add ignore condition compare with last finality update
  Cargo.lock
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: update the gossip message handler
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
Owners: @KolbyML

chore: rm unnessary comments
  crates/networking/manager/src/gossipsub/handle.rs
Owners: @KolbyML

feat: light client optimistic update validation (#947)
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/light_client_optimistic_update.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/Cargo.toml
  crates/storage/src/cache.rs
Owners: @KolbyML

feat(ci): add multi-architecture Docker builds for amd64 and arm64
  .github/workflows/docker-ci.yml
Owners: @KolbyML

fix
  .github/workflows/docker-ci.yml
Owners: @KolbyML

feat(ci): add multi-architecture Docker builds for amd64 and arm64 (#974)
  .github/workflows/docker-ci.yml
Owners: @KolbyML

feat: updated code to load genesis Validator's from network config
  Cargo.lock
  bin/ream/assets/lean/sample_spec.yml
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: updated code to load genesis Validator's from network config (#977)
  Cargo.lock
  bin/ream/assets/lean/sample_spec.yml
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/public_key.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: invalid genesis root + add genesis tests
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: invalid genesis root + add genesis tests (#978)
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

ci: add Swatinem/rust-cache
  .github/workflows/core-rust.yml
  .github/workflows/optional-rust.yml
  .github/workflows/riscv.yml
Owners: @KolbyML

ci: add Swatinem/rust-cache (#980)
  .github/workflows/core-rust.yml
  .github/workflows/optional-rust.yml
  .github/workflows/riscv.yml
Owners: @KolbyML

fix: `LeanNetworkSpec has already been initialized` was happening when it shouldn't be
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

fix: `LeanNetworkSpec has already been initialized` was happening when it shouldn't be (#982)
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: Reimplement validator registry file generator
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_validator_registry.md
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

feat: Reimplement validator registry file generator (#984)
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_validator_registry.md
  crates/crypto/post_quantum/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

refactor: bump leansig version and ssz dependencies
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/main.rs
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/beacon/src/blob_sidecar.rs
  crates/common/consensus/beacon/src/electra/beacon_block.rs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/light_client/src/bootstrap.rs
  crates/common/light_client/src/header.rs
  crates/common/light_client/src/update.rs
  crates/common/validator/beacon/src/execution_requests.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/bls/src/public_key.rs
  crates/crypto/bls/src/signature.rs
  crates/crypto/bls/src/zkcrypto/public_key.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
  crates/crypto/post_quantum/src/lib.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/rpc/beacon/src/handlers/light_client.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: bump leansig version and ssz dependencies (#981)
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/main.rs
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/beacon/src/blob_sidecar.rs
  crates/common/consensus/beacon/src/electra/beacon_block.rs
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/light_client/src/bootstrap.rs
  crates/common/light_client/src/header.rs
  crates/common/light_client/src/update.rs
  crates/common/validator/beacon/src/execution_requests.rs
  crates/common/validator/lean/src/registry.rs
  crates/crypto/bls/src/public_key.rs
  crates/crypto/bls/src/signature.rs
  crates/crypto/bls/src/zkcrypto/public_key.rs
  crates/crypto/bls/src/zkcrypto/signature.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/keystore.rs
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/leansig/errors.rs
  crates/crypto/post_quantum/src/leansig/mod.rs
  crates/crypto/post_quantum/src/leansig/private_key.rs
  crates/crypto/post_quantum/src/leansig/public_key.rs
  crates/crypto/post_quantum/src/leansig/signature.rs
  crates/crypto/post_quantum/src/lib.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/rpc/beacon/src/handlers/light_client.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

chore: extra head state logging
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat: implements eth/v1/node/peers api endpoint
  Cargo.lock
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/beacon/src/query.rs
  crates/common/api_types/beacon/src/responses.rs
  crates/networking/peer/src/lib.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/beacon/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

chore: extra head state logging (#985)
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat: implements eth/v1/node/peers api endpoint (#987)
  Cargo.lock
  crates/common/api_types/beacon/Cargo.toml
  crates/common/api_types/beacon/src/query.rs
  crates/common/api_types/beacon/src/responses.rs
  crates/networking/peer/src/lib.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/beacon/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

feat: simplify store's latest_justified and latest_finalized
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: simplify store's latest_justified and latest_finalized (#989)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

chore: make head state logging easier to read
  Cargo.lock
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
Owners: @KolbyML
