Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

feat: broadcast blocks and votes from p2p
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/networking/p2p/src/network/lean.rs
Owners: @KolbyML

feat: remove mutating LeanChain from Validator, add exclusive writer multi reader primitive
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/chain/lean/src/lean_chain.rs
  crates/common/chain/lean/src/lib.rs
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/sync/Cargo.toml
  crates/common/sync/src/lib.rs
  crates/common/sync/src/rwlock.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/lean.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: implement hash sig interface
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/cli/account_manager.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/cli/ream/account_manager.md
  crates/account_manager/Cargo.toml
  crates/account_manager/src/lib.rs
  crates/crypto/pqc/Cargo.toml
  crates/crypto/pqc/src/hashsig/keystore.rs
  crates/crypto/pqc/src/hashsig/mod.rs
  crates/crypto/pqc/src/hashsig/private_key.rs
  crates/crypto/pqc/src/hashsig/public_key.rs
  crates/crypto/pqc/src/hashsig/signature.rs
  crates/crypto/pqc/src/hashsig/tests.rs
  crates/crypto/pqc/src/lib.rs
  crates/crypto/pqc/src/traits.rs
Owners: @KolbyML, @syjn99

fix: naming
  crates/crypto/pqc/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

fix: inline
  crates/crypto/pqc/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

fix: inline
  crates/crypto/pqc/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

fix: inline
  crates/crypto/pqc/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

fix: remove bip for ci
  Cargo.lock
  bin/ream/Cargo.toml
Owners: @KolbyML

fix: cleanup
  bin/ream/src/cli/account_manager.rs
  crates/account_manager/Cargo.toml
  crates/account_manager/src/lib.rs
  crates/crypto/pqc/src/hashsig/errors.rs
  crates/crypto/pqc/src/hashsig/keystore.rs
  crates/crypto/pqc/src/hashsig/mod.rs
  crates/crypto/pqc/src/hashsig/private_key.rs
  crates/crypto/pqc/src/hashsig/public_key.rs
  crates/crypto/pqc/src/hashsig/signature.rs
  crates/crypto/pqc/src/hashsig/tests.rs
  crates/crypto/pqc/src/traits.rs
Owners: @KolbyML, @syjn99

fix: cleanup
  crates/account_manager/src/lib.rs
Owners: @KolbyML

fix: make default values for contants
  bin/ream/src/cli/account_manager.rs
Owners: @KolbyML

fix: requested
  Cargo.lock
  crates/crypto/pqc/Cargo.toml
  crates/crypto/pqc/src/hashsig/errors.rs
  crates/crypto/pqc/src/hashsig/private_key.rs
  crates/crypto/pqc/src/hashsig/signature.rs
  crates/crypto/pqc/src/traits.rs
Owners: @KolbyML, @syjn99

fix: use anyhow result
  crates/crypto/pqc/src/hashsig/private_key.rs
Owners: @KolbyML, @syjn99

fix: remove traits from pqc
  crates/crypto/pqc/src/hashsig/private_key.rs
  crates/crypto/pqc/src/hashsig/signature.rs
  crates/crypto/pqc/src/lib.rs
  crates/crypto/pqc/src/traits.rs
Owners: @KolbyML, @syjn99

fix: move HashSigScheme
  crates/crypto/pqc/src/hashsig/mod.rs
  crates/crypto/pqc/src/hashsig/private_key.rs
  crates/crypto/pqc/src/hashsig/public_key.rs
  crates/crypto/pqc/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

refactor: move account_manager crate to common folder
  Cargo.toml
  crates/common/account_manager/Cargo.toml
  crates/common/account_manager/Readme.md
  crates/common/account_manager/src/lib.rs
Owners: @KolbyML

fix: import goes after mod
  crates/crypto/pqc/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

fix: import after mod
  crates/crypto/pqc/src/hashsig/mod.rs
Owners: @KolbyML, @syjn99

refactor: rename ream-pqc crate to ream-post-quantum-crypto
  Cargo.lock
  Cargo.toml
  crates/common/account_manager/Cargo.toml
  crates/common/account_manager/src/lib.rs
  crates/common/chain/lean/Cargo.toml
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/vote.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/mod.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
  crates/crypto/post_quantum/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

refactor: separate beacon/lean ReqResp message logic + implement lean message types
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/src/bootnodes.rs
  crates/networking/p2p/src/lib.rs
  crates/networking/p2p/src/network/beacon/channel.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/beacon/network_state.rs
  crates/networking/p2p/src/network/beacon/peer.rs
  crates/networking/p2p/src/network/beacon/utils.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/network/mod.rs
  crates/networking/p2p/src/network/peer.rs
  crates/networking/p2p/src/req_resp/beacon/messages/blob_sidecars.rs
  crates/networking/p2p/src/req_resp/beacon/messages/blocks.rs
  crates/networking/p2p/src/req_resp/beacon/messages/goodbye.rs
  crates/networking/p2p/src/req_resp/beacon/messages/meta_data.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/ping.rs
  crates/networking/p2p/src/req_resp/beacon/messages/status.rs
  crates/networking/p2p/src/req_resp/beacon/mod.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/lean/messages/blocks.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
  crates/networking/p2p/src/req_resp/lean/mod.rs
  crates/networking/p2p/src/req_resp/lean/protocol_id.rs
  crates/networking/p2p/src/req_resp/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/utils.rs
  crates/networking/syncer/src/block_range/mod.rs
  crates/networking/syncer/src/block_range/peer_manager.rs
  crates/networking/syncer/src/block_range/peer_range_downloader.rs
  crates/rpc/beacon/src/handlers/identity.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/beacon/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: Don't propagate lean block/vote if processing failed
  crates/common/chain/lean/src/service.rs
Owners: @KolbyML

feat: add code for Lean ReqResp domain
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/manager/src/req_resp.rs
  crates/networking/p2p/src/network/beacon/channel.rs
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/req_resp/beacon/messages/mod.rs
  crates/networking/p2p/src/req_resp/beacon/protocol_id.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/lean/messages/blocks.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
  crates/networking/p2p/src/req_resp/lean/protocol_id.rs
  crates/networking/p2p/src/req_resp/messages.rs
  crates/networking/p2p/src/req_resp/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/p2p/src/req_resp/protocol_id.rs
  crates/networking/syncer/src/block_range/peer_range_downloader.rs
  crates/rpc/beacon/src/lib.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: Enable ReqResp domain on Lean P2P stack
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

feat: add peer rpc for lean
  Cargo.lock
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/lean/Cargo.toml
  crates/rpc/lean/src/handlers/mod.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/lib.rs
  crates/rpc/lean/src/routes/mod.rs
  crates/rpc/lean/src/routes/node.rs
Owners: @KolbyML, @varun-doshi

fix: cleanup
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/lib.rs
Owners: @KolbyML, @varun-doshi

feat: submitPoolSyncCommitteeSignatures endpoint
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

chore: add submitPoolSyncCommitteeSignatures endpoint with one message process ability
  Cargo.lock
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

feat: Implement CI workflow which builds docker file and uploads image to github docker repo
  .github/workflows/docker-ci.yml
Owners: @KolbyML

add: gossipsub publish voluntary_exit
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

add: gossip publish signed bls
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

add: gossip publish signed bls
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

fix: codin styles
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @varun-doshi

feat: replace slots_per epoch with justification_lookback_slots in gossipsub cache time
  crates/common/consensus/misc/src/constants/lean.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/networking/p2p/src/gossipsub/lean/configurations.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: yaml
  bin/ream/assets/lean/sample_spec.yml
Owners: @KolbyML

fix: remove constant
  crates/common/consensus/misc/src/constants/lean.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add support CLI flag for reusing the network identity
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/main.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML

fix: fmt
  testing/ef-tests/src/macros/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

chore: add get v1 proposer slashing
  crates/rpc/beacon/src/handlers/pool.rs
  crates/rpc/beacon/src/routes/beacon.rs
Owners: @KolbyML, @varun-doshi

fix: code styles and variable renaming
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/rpc/beacon/src/handlers/pool.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: lint
  crates/common/consensus/beacon/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi
