Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

fix: improve post function
  crates/common/validator/src/beacon_api_client/http_client.rs
Owners: @KolbyML

feat: add get_aggregated_attestation
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: import structs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: applied suggestions
  crates/common/beacon_api_types/src/request.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: added a missing header
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: added /eth/v1/beacon/pool/sync_committees
  crates/common/beacon_api_types/src/request.rs
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: updated to fix clippy
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

fix: added content type
  crates/common/validator/src/beacon_api_client/mod.rs
Owners: @KolbyML

feat: added submit_sync_committees
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: operation pool, pooled voluntary exits
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/store.rs
  crates/common/operation_pool/Cargo.toml
  crates/common/operation_pool/src/lib.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/handlers/block.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/pool.rs
  crates/rpc/src/lib.rs
  crates/rpc/src/routes/beacon.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo-sort
  crates/common/fork_choice/Cargo.toml
Owners: @KolbyML, @Kayden-ML

chore: update oldest/highest slots, inline
  bin/ream/src/main.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/src/handlers/pool.rs
  crates/storage/src/tables/beacon_state.rs
  crates/storage/src/tables/slot_index.rs
Owners: @KolbyML, @varun-doshi

chore: add link to issue
  crates/common/fork_choice/src/store.rs
  crates/rpc/src/handlers/pool.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: added the method for sync committees for non-aggregators
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: applied Kolby's suggestions
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: force u64 on compute_proposer_index()'s random_bytes
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: updated it to error instead
  crates/common/validator/src/validator.rs
Owners: @KolbyML

docs: add rationale behind the zkvm feature flag
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: cargo formatting
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: remaining formatting
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: formatting
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: changed to slice
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added submit_sync_committees
  crates/common/validator/src/validator.rs
Owners: @KolbyML

feat: added the method for sync committees for non-aggregators
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: ran make pr
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: applied Kolby's suggestions
  crates/common/validator/src/sync_committee.rs
Owners: @KolbyML

feat: added processing for all sync duties
  crates/common/validator/src/attestation.rs
  crates/common/validator/src/beacon_api_client/mod.rs
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/lib.rs
  crates/common/validator/src/sync_committee.rs
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: changed it to slice
  crates/common/validator/src/validator.rs
Owners: @KolbyML

fix: changed to as_ref
  crates/common/validator/src/validator.rs
Owners: @KolbyML

added oapi testing-scheme
  testing/beacon-api/Cargo.toml
  testing/beacon-api/src/beacon_api.rs
  testing/beacon-api/src/lib.rs
  testing/beacon-api/src/schema.rs
  testing/beacon-api/src/test_utils.rs
  testing/beacon-api/tests/beacon_api.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: send status requests when dialing peers
  Cargo.lock
  crates/common/beacon_chain/Cargo.toml
  crates/common/beacon_chain/src/beacon_chain.rs
  crates/networking/manager/src/service.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/network_state.rs
  crates/networking/p2p/src/peer.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/messages/mod.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
Owners: @KolbyML, @Kayden-ML

chore: clean up noisy logs + clean up peer connection code
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/mod.rs
Owners: @KolbyML

feat: made changes to and
  crates/common/light_client/src/update.rs
  crates/rpc/src/handlers/light_client.rs
Owners: @KolbyML, @varun-doshi

feat: added Default for LightClientUpdate fields
  crates/common/consensus/src/beacon_block_header.rs
  crates/common/consensus/src/electra/execution_payload_header.rs
  crates/common/light_client/src/header.rs
  crates/common/light_client/src/update.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: send ping on outbound connection
  crates/networking/p2p/src/network.rs
Owners: @KolbyML

feat: implement /pool/proposer_slashings
  Cargo.lock
  crates/rpc/src/handlers/pool.rs
  crates/rpc/src/routes/beacon.rs
  crates/storage/Cargo.toml
  crates/storage/src/tables/mod.rs
  crates/storage/src/tables/slashing_pool.rs
Owners: @KolbyML, @varun-doshi

fix: declared constants
  bin/ream/src/cli/account_manager.rs
  crates/account_manager/src/lib.rs
Owners: @KolbyML

fix: merge conflicts
  bin/ream/src/main.rs
Owners: @KolbyML

fix: fixed lint issues
  bin/ream/src/main.rs
Owners: @KolbyML
