Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: Implement updated fork choice logic to latest devnet spec (#907)
  crates/common/chain/lean/src/genesis.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/constants.rs
  crates/common/fork_choice/lean/src/lib.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/fork_choice/lean/src/utils.rs
  crates/storage/src/tables/lean/lean_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: add [lints] to sync_committee_pool Cargo.toml
  crates/common/sync_committee_pool/Cargo.toml
Owners: @KolbyML

feat: add sync committee pool to manage sync committee messages and contributions. get /eth/v1/validator/sync_committee_contribution endpoint
  Cargo.lock
  Cargo.toml
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/api_types/beacon/src/query.rs
  crates/common/chain/beacon/Cargo.toml
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/fork_choice/beacon/Cargo.toml
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/sync_committee_pool/Cargo.toml
  crates/common/sync_committee_pool/src/lib.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/service.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/debug.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/beacon/src/handlers/validator.rs
  crates/rpc/beacon/src/routes/validator.rs
  crates/rpc/beacon/src/server.rs
  testing/gossip-validation/Cargo.toml
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

docs: ream book update for devnet config
  book/cli/ream/lean_node.md
Owners: @KolbyML

docs: ream book update for devnet config (#910)
  book/cli/ream/lean_node.md
Owners: @KolbyML

feat: revert process_attestations() fixes finalization
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: revert process_attestations() fixes finalization (#911)
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/lib.rs
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/src/service.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: use bytes in signature container
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

fix: more robust errors
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

feat: use bytes in signature container (#916)
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

refactor: remove duplicate definitions of BINCODE_CONFIG
  crates/crypto/post_quantum/src/hashsig/mod.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

refactor: remove duplicate definitions of BINCODE_CONFIG (#917)
  crates/crypto/post_quantum/src/hashsig/mod.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @syjn99

refactor: replace FixedBytes<4000> with Signature
  Cargo.lock
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/Cargo.toml
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: fix udeps
  Cargo.lock
  crates/common/consensus/lean/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

refactor: replace FixedBytes<4000> with Signature (#918)
  Cargo.lock
  crates/common/chain/lean/src/messages.rs
  crates/common/chain/lean/src/service.rs
  crates/common/consensus/lean/src/attestation.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/consensus/lean/src/validator.rs
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/service.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: Sign & Verify block and attestations
  Cargo.lock
  bin/ream/assets/keystore_dir/Pbkdf2TestKeystore.json
  bin/ream/assets/keystore_dir/ScryptDecryptionTest.json
  bin/ream/assets/lean/validator_registry.yml
  bin/ream/src/cli/generate_keystores.rs
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/cli/ream/generate_keystore.md
  book/cli/ream/generate_validator_registry.md
  book/quickstart.md
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/registry.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: unneeded clone
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: add slow
  crates/crypto/keystore/src/lean_keystore.rs
Owners: @KolbyML, @syjn99

feat: Sign & Verify block and attestations (#920)
  Cargo.lock
  bin/ream/assets/keystore_dir/Pbkdf2TestKeystore.json
  bin/ream/assets/keystore_dir/ScryptDecryptionTest.json
  bin/ream/assets/lean/validator_registry.yml
  bin/ream/src/cli/generate_keystores.rs
  bin/ream/src/cli/generate_validator_registry.rs
  bin/ream/src/cli/lean_node.rs
  bin/ream/src/cli/mod.rs
  bin/ream/src/main.rs
  book/cli/ream/generate_keystore.md
  book/cli/ream/generate_validator_registry.md
  book/quickstart.md
  crates/common/chain/lean/src/genesis.rs
  crates/common/consensus/lean/src/block.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/validator/lean/Cargo.toml
  crates/common/validator/lean/src/registry.rs
  crates/common/validator/lean/src/service.rs
  crates/crypto/keystore/Cargo.toml
  crates/crypto/keystore/src/lean_keystore.rs
  crates/crypto/post_quantum/Cargo.toml
  crates/crypto/post_quantum/src/hashsig/errors.rs
  crates/crypto/post_quantum/src/hashsig/private_key.rs
  crates/crypto/post_quantum/src/hashsig/public_key.rs
  crates/crypto/post_quantum/src/hashsig/signature.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

feat: add spec test for fork choice
  .gitignore
  Cargo.lock
  Cargo.toml
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_validator_registry.md
  book/cli/ream/lean_node.md
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/storage/src/db/mod.rs
  testing/lean-spec-tests/Cargo.toml
  testing/lean-spec-tests/Makefile
  testing/lean-spec-tests/src/fork_choice.rs
  testing/lean-spec-tests/src/lib.rs
  testing/lean-spec-tests/src/state_transition.rs
  testing/lean-spec-tests/src/types/fork_choice.rs
  testing/lean-spec-tests/src/types/mod.rs
  testing/lean-spec-tests/src/types/state_transition.rs
  testing/lean-spec-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

Update fork_choice.rs
  testing/lean-spec-tests/src/fork_choice.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: Add Lean ReqResp handshake status handshake
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_validator_registry.md
  book/cli/ream/lean_node.md
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/networking/network_state/lean/Cargo.toml
  crates/networking/network_state/lean/src/cached_peer.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/beacon/network_state.rs
  crates/networking/p2p/src/network/beacon/peer.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/network/mod.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/lean/messages/blocks.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/peer/Cargo.toml
  crates/networking/peer/src/lib.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/server.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: Add Lean ReqResp handshake status handshake (#926)
  Cargo.lock
  Cargo.toml
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/generate_validator_registry.md
  book/cli/ream/lean_node.md
  crates/common/fork_choice/lean/Cargo.toml
  crates/common/fork_choice/lean/src/store.rs
  crates/networking/network_state/lean/Cargo.toml
  crates/networking/network_state/lean/src/cached_peer.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/network/beacon/mod.rs
  crates/networking/p2p/src/network/beacon/network_state.rs
  crates/networking/p2p/src/network/beacon/peer.rs
  crates/networking/p2p/src/network/lean/mod.rs
  crates/networking/p2p/src/network/mod.rs
  crates/networking/p2p/src/req_resp/inbound_protocol.rs
  crates/networking/p2p/src/req_resp/lean/messages/blocks.rs
  crates/networking/p2p/src/req_resp/lean/messages/mod.rs
  crates/networking/p2p/src/req_resp/lean/messages/status.rs
  crates/networking/p2p/src/req_resp/outbound_protocol.rs
  crates/networking/peer/Cargo.toml
  crates/networking/peer/src/lib.rs
  crates/rpc/beacon/Cargo.toml
  crates/rpc/beacon/src/handlers/peers.rs
  crates/rpc/lean/src/handlers/peer.rs
  crates/rpc/lean/src/server.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: use default for network service
  bin/ream/src/main.rs
Owners: @KolbyML

fix: called database field before intialized + add regression test
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

fix: called database field before initialized + add regression test (#928)
  bin/ream/src/main.rs
  crates/common/chain/lean/src/service.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/network_spec/src/networks/lean.rs
  crates/common/validator/lean/src/service.rs
  crates/networking/network_state/lean/src/lib.rs
  crates/networking/p2p/src/network/lean/mod.rs
Owners: @KolbyML, @Kayden-ML

feat: remove get_latest_justified() helper
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: remove get_latest_justified() helper (#931)
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

feat: remove process_slot util
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: remove process_slot util (#932)
  crates/common/consensus/lean/src/state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

test: add test to make sure lean node justifys/finalizes
  Cargo.toml
  bin/ream/src/main.rs
Owners: @KolbyML

test: add test to make sure lean node justifys/finalizes (#933)
  Cargo.toml
  bin/ream/src/main.rs
Owners: @KolbyML

refactor: remove redundant lean_/beacon_ prefix on db providers
  bin/ream/src/main.rs
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/manager/src/req_resp.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/header.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

refactor: remove redundant lean_/beacon_ prefix on db providers (#934)
  bin/ream/src/main.rs
  crates/common/chain/beacon/src/beacon_chain.rs
  crates/common/chain/lean/src/service.rs
  crates/common/checkpoint_sync/src/lib.rs
  crates/common/fork_choice/beacon/src/handlers.rs
  crates/common/fork_choice/beacon/src/store.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/networking/manager/src/gossipsub/validate/attester_slashing.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/proposer_slashing.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee_contribution_and_proof.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/manager/src/req_resp.rs
  crates/rpc/beacon/src/handlers/block.rs
  crates/rpc/beacon/src/handlers/header.rs
  crates/rpc/beacon/src/handlers/light_client.rs
  crates/rpc/beacon/src/handlers/state.rs
  crates/rpc/beacon/src/handlers/syncing.rs
  crates/rpc/lean/src/handlers/block.rs
  crates/rpc/lean/src/handlers/head.rs
  crates/rpc/lean/src/handlers/state.rs
  crates/storage/src/db/beacon.rs
  crates/storage/src/db/lean.rs
  testing/gossip-validation/tests/validate_block.rs
Owners: @KolbyML, @varun-doshi, @Kayden-ML, @syjn99

feat: make it so set_lean_network_spec can only be ran once in tests
  Cargo.lock
  crates/common/network_spec/Cargo.toml
  crates/common/network_spec/src/networks/beacon.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

f
  Cargo.lock
  crates/common/network_spec/Cargo.toml
Owners: @KolbyML, @Kayden-ML

fix: make it so set_lean_network_spec can only be ran once in tests (#935)
  crates/common/network_spec/src/networks/beacon.rs
  crates/common/network_spec/src/networks/lean.rs
Owners: @KolbyML, @Kayden-ML

feat: add fork choice metrics
  crates/common/consensus/lean/src/state.rs
  crates/common/fork_choice/lean/src/store.rs
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: add stf metrics
  crates/common/consensus/lean/src/state.rs
  crates/common/metrics/src/lib.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: nit
  crates/common/fork_choice/lean/src/store.rs
Owners: @KolbyML, @Kayden-ML

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99
