Repository ReamLabs/ream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

.github/CODEOWNERS:

# Context on this file: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# The basic gist is that this file is used to automatically request reviews from the people listed in the file when a PR is opened.
*                                     @KolbyML
crates/common/beacon_chain/           @KolbyML @Kayden-ML
crates/common/checkpoint_sync/        @KolbyML @varun-doshi
crates/common/consensus/              @KolbyML @Kayden-ML @varun-doshi
crates/common/execution_engine/       @KolbyML @Kayden-ML
crates/common/fork_choice/            @KolbyML @Kayden-ML
crates/common/network_spec/           @KolbyML @Kayden-ML
crates/common/polynomial_commitments/ @KolbyML @Kayden-ML
crates/crypto/                        @KolbyML @syjn99
crates/rpc/                           @KolbyML @varun-doshi
testing/                              @KolbyML @Kayden-ML @syjn99

perf: don't recompute base_reward_per_increment for every participant
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: calculate the BlockRoot not the SignedBlockRoot
  crates/common/consensus/src/electra/beacon_block.rs
  crates/rpc/src/handlers/light_client.rs
  crates/storage/src/tables/beacon_block.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: ci
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/electra/beacon_block.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/tests/tests.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi, @syjn99

fix: use feature gate
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.ssz_snappy
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

perf: don't recalculate unslashed_participating_indices redundantly
  crates/common/consensus/src/electra/beacon_state.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: up network code to get forward syncer more reliable
  Cargo.lock
  bin/ream/src/main.rs
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/electra/beacon_state.rs
  crates/common/fork_choice/Cargo.toml
  crates/common/fork_choice/src/handlers.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/p2p_sender.rs
  crates/networking/p2p/src/channel.rs
  crates/networking/p2p/src/network.rs
  crates/networking/p2p/src/req_resp/configurations.rs
  crates/networking/p2p/src/req_resp/error.rs
  crates/networking/p2p/src/req_resp/handler.rs
  crates/networking/p2p/src/req_resp/mod.rs
  crates/networking/syncer/src/block_range/block_cache.rs
  crates/networking/syncer/src/block_range/mod.rs
  crates/networking/syncer/src/block_range/peer_manager.rs
  crates/networking/syncer/src/block_range/peer_range_downloader.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: gossipsub validate and forward: blob_sidecar_{subnet_id}
  Cargo.lock
  crates/common/consensus/beacon/src/electra/beacon_state.rs
  crates/networking/discv5/src/discovery.rs
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: udeps
  Cargo.lock
  crates/common/consensus/misc/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: udeps
  Cargo.lock
  crates/common/consensus/misc/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

feat: enhance proposer preparation management with expiration logic
  crates/common/fork_choice/src/store.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

chore: clarify comments regarding handler tests in prepare_beacon_proposer
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

refactor: improve variable naming for proposer preparation retrieval
  crates/common/operation_pool/src/lib.rs
Owners: @KolbyML

test: add minimal tests for prepare_beacon_proposer handler
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

fix: resolve CI issues for formatting and linting
  crates/common/fork_choice/src/store.rs
  crates/common/operation_pool/src/lib.rs
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

test: simplify handler test to fix CI failure
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

fix: replace match statement with let binding in test
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

refactor: remove unused tests for prepare_beacon_proposer handler
  crates/rpc/beacon/src/handlers/prepare_beacon_proposer.rs
Owners: @KolbyML, @varun-doshi

fix: remove inline comment
  bin/ream/src/main.rs
Owners: @KolbyML

feat: add voluntary exit command to cli
  bin/ream/src/cli/mod.rs
  bin/ream/src/cli/voluntary_exit.rs
  bin/ream/src/main.rs
  book/SUMMARY.md
  book/cli/SUMMARY.md
  book/cli/ream.md
  book/cli/ream/voluntary_exit.md
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

fix: inline error
  bin/ream/src/main.rs
Owners: @KolbyML

feat: use beacon API client directly
  Cargo.lock
  bin/ream/Cargo.toml
  bin/ream/src/main.rs
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

fix: imports
  bin/ream/src/main.rs
Owners: @KolbyML

fix: main.rs imports
  bin/ream/src/main.rs
Owners: @KolbyML

fix: remove single use variable
  crates/common/validator/beacon/src/validator.rs
Owners: @KolbyML

feat: implement wait before making attestation
  crates/common/validator/beacon/src/validator.rs
Owners: @KolbyML

feat: gossipsub validate and forward: beacon_attestation_{subnet_id}
  crates/common/consensus/beacon/src/single_attestation.rs
  crates/common/consensus/misc/src/attestation_data.rs
  crates/common/consensus/misc/src/constants.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
  crates/networking/manager/src/gossipsub/validate/blob_sidecar.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML, @Kayden-ML, @varun-doshi

fix: nit
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_attestation.rs
Owners: @KolbyML

feat: add beacon gossip validation
  Cargo.lock
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.json
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: add test for gossip block
  Cargo.lock
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/result.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: CI
  testing/beacon-api/Cargo.toml
Owners: @KolbyML, @Kayden-ML, @syjn99

fix: use feature gate
  Cargo.lock
  crates/networking/manager/Cargo.toml
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/beacon_block.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/storage/src/cache.rs
  testing/beacon-api/Cargo.toml
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084160.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084249.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.json
  testing/beacon-api/tests/assets/sepolia/blocks/slot_8084250.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084248.ssz_snappy
  testing/beacon-api/tests/assets/sepolia/states/slot_8084249.ssz_snappy
  testing/beacon-api/tests/validate_block.rs
Owners: @KolbyML, @Kayden-ML, @syjn99

feat: gossipsub topic: voluntary exit
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/p2p/src/gossipsub/message.rs
Owners: @KolbyML

feat: gossipsub validate and forward: bls_to_execution_change
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

fix: cargo
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/bls_to_execution_change.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: gossipsub validate and forward: sync_committee_{subnet_id}
  crates/common/validator/beacon/src/sync_committee.rs
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/sync_committee.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: gossipsub validate and forward: voluntary_exit
  crates/networking/manager/src/gossipsub/handle.rs
  crates/networking/manager/src/gossipsub/validate/mod.rs
  crates/networking/manager/src/gossipsub/validate/voluntary_exit.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/storage/src/cache.rs
Owners: @KolbyML

feat: refactor loading password from config
  bin/ream/src/cli/import_keystores.rs
  bin/ream/src/main.rs
Owners: @KolbyML

fix: move sleep out and use tracing
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML

fix: remove epoch from config and use current epoch from genesis time
  bin/ream/src/cli/voluntary_exit.rs
  bin/ream/src/main.rs
  book/cli/ream/voluntary_exit.md
Owners: @KolbyML

fix: add error handling for submit_signed_voluntary_exit
  crates/common/beacon_api_types/src/error.rs
  crates/common/validator/beacon/src/beacon_api_client/mod.rs
  crates/common/validator/beacon/src/voluntary_exit.rs
Owners: @KolbyML
