Repository ReamLabs/ream, pull requests merged in 2025-05, with the labels that each got.

#312 feat: implement /<state_id>/committees endpoint
  crates/rpc/src/handlers/committee.rs
  crates/rpc/src/handlers/mod.rs
  crates/rpc/src/handlers/state.rs
  crates/rpc/src/routes/beacon.rs
  crates/rpc/src/types/query.rs
Labels: Beacon API

#423 feat: implemented get_head() and get_filtered_block_tree()
  crates/common/fork_choice/src/store.rs
Labels: Consensus

#439 feat: implement gossip topic attester_slashing
  Cargo.lock
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus

#440 feat: implement gossip topic aggregate_and_proof
  Cargo.lock
  Cargo.toml
  crates/common/validator/Cargo.toml
  crates/common/validator/src/aggregate_and_proof.rs
  crates/networking/p2p/Cargo.toml
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/gossipsub/topics.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus

#442 feat: implement gossip topic blob_sidecar
  crates/common/consensus/src/blob_sidecar.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus

#443 feat: implement gossip topic beacon_attestation
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus

#446 feat: implement gossip topic sync_committee_contribution_and_proof
  crates/common/validator/src/contribution_and_proof.rs
  crates/common/validator/src/lib.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus

#449 feat: implement gossip topic light_client_optimistic_update
  crates/common/light_client/src/lib.rs
  crates/common/light_client/src/optimistic_update.rs
  crates/networking/p2p/src/gossipsub/message.rs
  crates/networking/p2p/src/network.rs
Labels: Networking, Consensus
