Repository ReamLabs/ream, pull requests merged in 2025-03, with the labels that each got.

#150 feat: add CI that ream-consensus and ream-bls compiles to risc0
  .github/workflows/rust.yml
Labels: Consensus, ZK Proving

#154 feat: feat: add CI that ream-consensus and ream-bls compiles to SP1
  .github/workflows/riscv.yml
  .github/workflows/rust.yml
Labels: Consensus, ZK Proving

#157 feat: Integrate epoch_processing EF test with our implementation
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/fork_choice/helpers/constants.rs
  crates/common/consensus/src/validator.rs
  testing/ef-tests/src/macros/epoch_processing.rs
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#163 feat: implemented epoch processing test for process_rewards_and_penalties()
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#165 feat: Implement final testing for process_registry_updates()
  crates/common/consensus/src/deneb/beacon_state.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#166 feat: implement testing for process_justification_and_finalization()
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/fork_choice/helpers/constants.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#167 feat: Implemented macro for sanity_slots and added testing for process_slots()
  crates/common/consensus/src/deneb/beacon_state.rs
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/src/macros/sanity_slots.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#168 feat: Implemented sanity_blocks macro and testing for state_transition()
  crates/common/consensus/src/execution_engine/mock_engine.rs
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/src/macros/sanity_blocks.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#259 fix(rpc): forgot "data": T for genesis rpc
  crates/rpc/src/handlers/genesis.rs
  crates/rpc/src/handlers/mod.rs
Labels: Beacon API
