Repository ReamLabs/ream, pull requests merged in 2025-02, with the labels that each got.

#104 fix: process_withdrawals and add corresponding ef-tests
  crates/common/consensus/src/deneb/beacon_state.rs
  testing/ef-tests/Makefile
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/src/macros/operations.rs
  testing/ef-tests/src/macros/ssz_static.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#110 ci: run rust tests in release mode
  .github/workflows/rust.yml
  testing/ef-tests/Makefile
Labels: testing

#109 fix: compute_shuffled_index computing wrong index
  crates/common/consensus/src/misc.rs
Labels: Consensus

#63 feat: Implemented the is_valid_block_hash, is_valid_versioned_hashes functions
  Cargo.lock
  Cargo.toml
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/deneb/execution_payload.rs
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/new_payload_request.rs
  crates/common/consensus/src/lib.rs
  crates/common/consensus/src/withdrawal.rs
Labels: Consensus

#108 test: add shuffling test
  testing/ef-tests/src/macros/mod.rs
  testing/ef-tests/src/macros/shuffling.rs
  testing/ef-tests/tests/tests.rs
Labels: testing

#114 test: add more opertation tests
  crates/common/consensus/src/deneb/beacon_state.rs
  testing/ef-tests/tests/tests.rs
Labels: testing

#118 fix: not to use `fast_aggregate_verify` for all BLS verification
  crates/common/consensus/src/deneb/beacon_state.rs
Labels: Cryptography

#121 feat: implement engine_getPayloadV3 api rpc call
  crates/common/consensus/src/deneb/beacon_block_body.rs
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/engine_get_payloadv1.rs
  crates/common/consensus/src/execution_engine/rpc_types/mod.rs
  crates/common/consensus/src/execution_engine/utils.rs
  crates/common/consensus/src/kzg_commitment.rs
Labels: Consensus

#123 feat: implement engine_newPayloadV3 api rpc call
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/execution_payload.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_payload.rs
  crates/common/consensus/src/execution_engine/rpc_types/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/payload_status.rs
Labels: Consensus

#124 feat: implement engine_forkchoiceUpdatedV3 api rpc call
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/forkchoice_update.rs
  crates/common/consensus/src/execution_engine/rpc_types/mod.rs
Labels: Consensus

#125 feat: implement engine_getBlobV1 api rpc call
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/get_blobs.rs
  crates/common/consensus/src/execution_engine/rpc_types/mod.rs
Labels: Consensus

#139 feat: implemented process_execution_payload, notify_new_payload, verify_and_notify_new_payload functions
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/execution_engine/mod.rs
  crates/common/consensus/src/execution_engine/rpc_types/execution_payload.rs
  crates/common/consensus/src/execution_engine/rpc_types/payload_status.rs
  crates/common/consensus/src/fork_choice/helpers/constants.rs
Labels: Consensus

#142 feat: implement process_block(), state_transition() functions
  crates/common/consensus/src/deneb/beacon_state.rs
Labels: Consensus

#143 feat: added test for process_execution_payload and implement MockExecutionEngine
  Cargo.lock
  Cargo.toml
  crates/common/consensus/Cargo.toml
  crates/common/consensus/src/deneb/beacon_state.rs
  crates/common/consensus/src/execution_engine/engine_trait.rs
  crates/common/consensus/src/execution_engine/mock_engine.rs
  crates/common/consensus/src/execution_engine/mod.rs
  testing/ef-tests/Cargo.toml
  testing/ef-tests/src/macros/operations.rs
  testing/ef-tests/tests/tests.rs
Labels: Consensus, testing

#144 fix: `is_valid_indexed_attestation` and enable bls tests for operation tests
  crates/common/consensus/src/deneb/beacon_state.rs
  testing/ef-tests/src/macros/operations.rs
Labels: Consensus, testing
